*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body:before{
	content: '';
	position: fixed;
	z-index: -1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url(../img/bg_download.png) center 0 no-repeat;
	background-size: cover;
}
.download{
	position: absolute;
	bottom: 3.7rem;
	left: 7.1rem;
}
.download img{
	width: 6.2rem;
	height: 2.2rem;
}
#main{
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: rgba(10,10,10,0.8);
	display: none;
	text-align: left;
	z-index: 1;
}
#main img{
	position: absolute;
	top: 4.05rem;
	right: 1.9rem;
	width: 8.55rem;
	height: 4.45rem;
}
