<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, width=device-width"
          name="viewport">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <link href="../../static/v1_1/css/style.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../../static/v1_1/js/rem.js"></script>
    <script type="text/javascript" src="../../static/v1_1/js/jquery-1.11.1.min.js"></script>
    <title></title>
</head>
<body style="background: url("img/bg.jpg") no-repeat; background-size: 100% auto;">
<div class="video_top">
    <img src="../../static/v1_1/img/right_img.png" class="right_img" alt=""/>
</div>
<div class="video_ge"></div>

<div class="video_pag">
    <div class="video_message">
        <img src="../../static/v1_1/img/video_img.png" class="video_img" alt=""/>
        <h5>{{ package.productname }}</h5>
        <div>
            <p>  {{ package.description }}</p>
            <a>点击订购</a>
        </div>
    </div>

    <div class="video_list">
        <ul>
            {% for c in comics %}
                <a href="/comic/{{ c.id }}">
                    <div class="video_img_pag">
                        <img src="http://221.228.17.87/res/comics/covers/{{ c.id }}.jpg" alt=""/>
                        <em></em>
                        <h5>{{ c.hits }}</h5>
                        <p>更新至{{ c.curchapter }}集</p>
                    </div>
                    <p class="video_name">{{ c.comicname }}</p>
                </a>
            {% endfor %}
            <li>
                <a href="">
                    <div class="video_img_pag">
                        <img src="../../static/v1_1/img/video_pic.png" alt=""/>
                        <em></em>
                        <h5>5.6万</h5>
                        <p>更新至74集</p>
                    </div>
                    <p class="video_name">星海镖师</p>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="video_img_pag">
                        <img src="../../static/v1_1/img/video_pic.png" alt=""/>
                        <em></em>
                        <h5>5.6万</h5>
                        <p>更新至74集</p>
                    </div>
                    <p class="video_name">星海镖师</p>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="video_img_pag">
                        <img src="../../static/v1_1/img/video_pic.png" alt=""/>
                        <em></em>
                        <h5>5.6万</h5>
                        <p>更新至74集</p>
                    </div>
                    <p class="video_name">星海镖师</p>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="video_img_pag">
                        <img src="../../static/v1_1/img/video_pic.png" alt=""/>
                        <em></em>
                        <h5>5.6万</h5>
                        <p>更新至74集</p>
                    </div>
                    <p class="video_name">星海镖师</p>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="video_img_pag">
                        <img src="../../static/v1_1/img/video_pic.png" alt=""/>
                        <em></em>
                        <h5>5.6万</h5>
                        <p>更新至74集</p>
                    </div>
                    <p class="video_name">星海镖师</p>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="video_img_pag">
                        <img src="../../static/v1_1/img/video_pic.png" alt=""/>
                        <em></em>
                        <h5>5.6万</h5>
                        <p>更新至74集</p>
                    </div>
                    <p class="video_name">星海镖师</p>
                </a>
            </li>
        </ul>
    </div>

</div>
<script type="text/javascript">
    $(function () {
        $(".video_message a").click(function () {
            $(this).addClass('btn_active');
            $(this).text("已订购");
        });
    })
</script>


</body>
</html>
