<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, width=device-width"
          name="viewport">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <link href="../../static/v1_1/css/style.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../../static/v1_1/js/rem.js"></script>
    <script type="text/javascript" src="../../static/v1_1/js/jquery-1.11.1.min.js"></script>
    <title></title>
</head>
<body style="background: #FFFFFF;">

<!--2018-2-8添加   确认购买提示-->
<div class="fadeBox" id="tc_buy">
    <div class="tc_buy_content">
        <h5>提示</h5>
        <p>您需要订购“{{ package.productname }}”({{ package.price }}元/月)方可下载,是否立即订购？</p>
        <div>
            <a onclick="tc_hide('tc_buy')">取消</a>
            <a class="btn_affirm">确认</a>
        </div>
    </div>
</div>
<!--end-->

<!--2018-2-8添加 下载成功提示-->
<div class="fadeBox" id="tc_happy">
    <div class="tc_happy_content">
        <img src="../../static/v1_1/img/win_img.png" class="win_img" alt=""/>
        <p>下载成功</p>
    </div>
</div>
<!--end-->

<!--2018-2-8积分-->
<div class="fade">
    <img src="../../static/v1_1/img/big_gold.png" class="big_gold" alt=""/>
    <p>积分+20</p>
</div>
<!--end-->


<div class="game_banner">

    <!--2018-2-7添加返回-->
    {% if package.productid == '135000000000000000000' %}
        <a href="/"><img src="../../static/v1_1/img/btn_hui.png" class="btn_hui" alt=""/></a>
    {% else %}
        <a href="/package?id={{ package.productid }}"><img src="../../static/v1_1/img/btn_hui.png" class="btn_hui"
                                                           alt=""/></a>

    {% endif %}
    <!--end-->

    <img src="{{ game.img_icon }}" class="game_pic" alt=""/>
    <div class="game_ranking">
        <h5>{{ game.name }}</h5>
        <div class="start_pag">
            {% for i in range(game.star) %}
                <img src="../../static/v1_1/img/icon_11.png" class="icon_10" alt=""/>
            {% endfor %}
            {% for i in range(5-game.star) %}
                <img src="../../static/v1_1/img/icon_10.png" class="icon_10" alt=""/>
            {% endfor %}
            <p><span>7.9</span>分</p>
        </div>
        <p class="min_text m0">
            更新日期&#x3000;{{ game.createtime[:4]+'-'+ game.createtime[4:6] +'-' + game.createtime[6:8] }}</p>
        <p class="min_text">类&#x3000;&#x3000;型&#x3000; {{ game.category }}</p>
        <p class="min_text">大&#x3000;&#x3000;小&#x3000; {{ game.size }}B</p>

        <a class="btn_down">下载</a>
    </div>
</div>

<div class="game_rule">
    <h5>游戏概括：</h5>
    <p>
        {{ game.brief }}
    </p>
</div>

<h5 class="pic_title">游戏截图：</h5>
<div class="pic_pag ">
    <ul>
        <li class="first_pag"><img src="{{ game.img_screenshot_1 }}" alt=""/></li>
        {% if game.img_screenshot_2 %}
            <li><img src="{{ game.img_screenshot_2 }}" alt=""/></li>
        {% endif %}
        {% if game.img_screenshot_3 %}
            <li><img src="{{ game.img_screenshot_3 }}" alt=""/></li>
        {% endif %}
        {% if game.img_screenshot_4 %}
            <li><img src="{{ game.img_screenshot_4 }}" alt=""/></li>
        {% endif %}
        {% if game.img_screenshot_5 %}
            <li><img src="{{ game.img_screenshot_5 }}" alt=""/></li>
        {% endif %}
        {% if game.img_screenshot_6 %}
            <li><img src="{{ game.img_screenshot_6 }}" alt=""/></li>
        {% endif %}
    </ul>
</div>
<script type="text/javascript">

    /*2018-2-8添加*/
    function tc_hide(obj) {
        document.getElementById(obj).style.display = "none";
    }

    function tc_show(obj) {
        document.getElementById(obj).style.display = "block";
    }

    /*end*/

    $(function () {
        $('.first_pag img').each(function () {
            AutoResizeImage(this);
        });
        /*end*/

        $('.btn_affirm').click(function () {
            $("#tc_buy").hide();
            var url = window.location.href;
            {% if not session.phonenum %}
                window.location.href = '/auth/login?next=' + url;
            {% else %}
                $.ajax({
                    type: "post",
                    url: "/api/v1.0/subscribe",
                    data: {
                        'phonenum': '{{ session.phonenum }}',
                        'productid': '{{ package.productid }}',
                        'price': '{{ package.price }}'
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.code == '0')
                            $('#tc_happy p').text('订购成功');
                        else if (data.code == '200') {
                            $('#mains p').text('调用控件接口');
                            var price = data.data.price;
                            var csphone = data.data.csphone;
                            var chargeid = data.data.chargeid;
                            var apsecret = data.data.apsercet;
                            var callbackurl = window.location;
                            var phonenum = '{{ session.phonenum }}';
                            window.android.tyZonePay(csphone, 2, price, '', '1076848', chargeid, apsecret, callbackurl, phonenum);
                        }
                        else if (data.code == "108") {
                            $('#tc_happy p').text("本产品仅限江苏用户订购");
                            $("#tc_happy").show();
                            setTimeout(function () {
                                $("#tc_happy").fadeOut();
                            }, 1500);
                        }
                        else {
                            $('#tc_happy p').text(data.message);
                            $("#tc_happy").show();
                            setTimeout(function () {
                                $("#tc_happy").fadeOut();
                                if (data['data']['integral'] > 0) {
                                    $('.fade p').text('积分+' + data['data']['integral']);
                                    setTimeout(function () {
                                        $(".fade").fadeIn();
                                        setTimeout(function () {
                                            $(".fade").fadeOut();
                                        }, 1500)
                                    }, 500)
                                }

                            }, 1500);
                        }
                        //增加页面刷新
                        window.location.reload();
                        $('.btn_down').click(function () {
                            $.ajax({
                                type: "get",
                                url: "/game/download",
                                data: {
                                    'id': '{{ game.id }}'
                                },
                                dataType: 'json',
                                success: function (data) {
                                    if (data.code == '0') {
                                        setTimeout(function () {
                                            window.location.href = data['next']
                                        }, 1000);
                                        if (data['integral'] > 0) {
                                            $('.fade p').text('积分+' + data['integral']);
                                            setTimeout(function () {
                                                $(".fade").fadeIn();
                                                setTimeout(function () {
                                                    $(".fade").fadeOut();
                                                }, 1500)
                                            }, 500)
                                        }
                                    }
                                }
                            });
                        });
                    }
                });
            {% endif %}
        });

        {% if flag %}
            $('.btn_down').click(function () {
                $.ajax({
                    type: "get",
                    url: "/game/download",
                    data: {
                        'id': '{{ game.id }}'
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.code == '0') {
                            setTimeout(function () {
                                window.location.href = data['next']
                            }, 1000);
                            if (data['integral'] > 0) {
                                $('.fade p').text('积分+' + data['integral']);
                                setTimeout(function () {
                                    $(".fade").fadeIn();
                                    setTimeout(function () {
                                        $(".fade").fadeOut();
                                    }, 1500)
                                }, 500)
                            }
                        }
                    }
                });
            });
        {% else %}
            $('.btn_down').click(function () {
                $("#tc_buy").show();
            });
        {% endif %}
    })

    function AutoResizeImage(objImg) {
        var img = new Image();
        img.src = objImg.src;
        img.onload = function () {
            var imgWidth = this.width;
            var imgHeight = this.height;
            if (imgWidth > imgHeight) {
                $(".pic_pag").addClass("max_width");
            } else {
                $(".pic_pag").removeClass("max_width");
            }
            var theWidth1 = $('.first_pag').outerWidth();
            var theNum = $(".pic_pag ul li").length;
            var theWid = theNum * theWidth1 + 5 + "px";
            $(".pic_pag ul").css("width", theWid);
        }

    }
</script>

</body>
</html>
