<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, width=device-width" name="viewport">
		<meta content="telephone=no" name="format-detection">
		<meta content="email=no" name="format-detection">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
        <link href="../../static/v1_1/css/style.css" rel="stylesheet" type="text/css"/>
        <script type="text/javascript" src="../../static/v1_1/js/rem.js" ></script>
        <script type="text/javascript" src="../../static/v1_1/js/jquery-1.11.1.min.js" ></script>
		<title></title>
	</head>
	<body>
		<!--签到成功-->
		<!--<div class="fade" id="tc_win">
			<img src="img/big_gold.png" class="big_gold" alt="" />
			<p>积分+20</p>
		</div>-->
		
		<div class="home_banner">
			<p class="news_img">
				<img src="../../static/v1_1/img/news_img.png" alt="" />
			</p>
			
			<div class="home_pic">
				<img src="../../static/v1_1/img/pic.png"  alt="" />
			</div>
			<div class="home_message">
				<!--<p>189****0933</p>-->
				<a href="/auth/login">点击登录</a>
				<em>LV 0</em>
			</div>
			<!--<a class="btn_sign">签到</a>-->
		</div>
		
		<div class="home_list">
			<a href="/mysign">
				<img src="../../static/v1_1/img/icon_12.png" class="icon_12" alt="" />
				<p>签到</p>
				<img src="../../static/v1_1/img/left_img.png" class="left_img" alt="" />
				<span>已签到0天</span>
			</a>
			<a href="/mall">
				<img src="../../static/v1_1/img/icon_13.png" class="icon_12" alt="" />
				<p>积分商城</p>
				<img src="../../static/v1_1/img/left_img.png" class="left_img" alt="" />
				<span>积分换好礼</span>
			</a>
			<a href="/collection">
				<img src="../../static/v1_1/img/icon_14.png" class="icon_12" alt="" />
				<p>我的收藏</p>
				<img src="../../static/v1_1/img/left_img.png" class="left_img" alt="" />
			</a>
			<a href="/myorder">
				<img src="../../static/v1_1/img/icon_15.png" class="icon_12" alt="" />
				<p>订购</p>
				<img src="../../static/v1_1/img/left_img.png" class="left_img" alt="" />
			</a>
			<a href="/flow">
				<img src="../../static/v1_1/img/icon_16.png" class="icon_12" alt="" />
				<p>我的流量</p>
				<img src="../../static/v1_1/img/left_img.png" class="left_img" alt="" />
				<span>一键查询、办理流量套餐</span>
			</a>
			<a href="#">
				<img src="../../static/v1_1/img/icon_17.png" class="icon_12" alt="" />
				<p>反馈</p>
				<img src="../../static/v1_1/img/left_img.png" class="left_img" alt="" />
			</a>
			<a href="#">
				<img src="../../static/v1_1/img/icon_18.png" class="icon_12" alt="" />
				<p>帮助</p>
				<img src="../../static/v1_1/img/left_img.png" class="left_img" alt="" />
			</a>
		</div>
		
		<div class="history_pag">
			<h5>历史记录</h5>
			<div>
			</div>
		</div>
		
		<!--<a href="" class="btn_over">退出登录</a>-->
		
		<div class="box_pag"></div>
	    <div class="btm_link">
	    	<ul>
	    		<li>
	    			<a href="/">
	    				<img src="../../static/v1_1/img/icon_4.png" class="icon_4" alt="" />
	    				<p>首页</p>
	    			</a>
	    		</li>
	    		<li>
	    			<a href="/find">
	    				<img src="../../static/v1_1/img/icon_5.png" class="icon_4" alt="" />
	    				<p>发现</p>
	    			</a>
	    		</li>
	    		<li>
	    			<a href="/weal">
	    				<img src="../../static/v1_1/img/icon_6.png" class="icon_4" alt="" />
	    				<p>福利</p>
	    			</a>
	    		</li>
	    		<li class="active">
	    			<a href="#">
	    				<img src="../../static/v1_1/img/icon_77.png" class="icon_4" alt="" />
	    				<p>我的</p>
	    			</a>
	    		</li>
	    	</ul>
	    </div>
		
{#		<script type="text/javascript">#}
{#			$(function(){#}
{#				#}
{#				var theNum = $(".history_pag li").length;#}
{#				var theWid =theNum*1.62-0.18+"rem";#}
{#				$(".history_pag ul").css("width",theWid);#}
{#				#}
{#				$(".btn_sign").click(function(){#}
{#					$(this).addClass("active");#}
{#					$(this).text("已签到");#}
{#					$("#tc_win").show();#}
{#					setTimeout(function(){#}
{#						$("#tc_win").hide();#}
{#					},2000)#}
{#				});#}
{#			})#}
{#		</script>#}
	</body>
</html>
