<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="google" value="notranslate">
    <meta name="robots" content="index,follow">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,shrink-to-fit=no,minimal-ui">
    <meta name="format-detection" content="telephone=no,email=no,address=no,date=no">
    <meta name="msapplication-tap-highlight" content="no">
    <title>玩乐派-动漫</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="../static/css/style.css"/>
    <link rel="stylesheet" href="../static/css/main.css"/>
    <link rel="stylesheet" href="../static/css/index.css"/>
    <link rel="stylesheet" href="../static/css/common.css"/>
</head>
<body style="padding-bottom: 2.56rem;">
<!-- header -->
<header id="header" class="">
    <div class="header-logo-container">
        <img src="../static/img/logo.png" alt="">
    </div>
    <div class="header-menu-container">
        <a href="/comic" class="currentes">动漫</a>
        <a href="/video">视频</a>
        <a href="/game">游戏</a>
        <a href="/music">音乐</a>
        <a href="/my"><img src="../static/img/head.png" alt="" /></a>
    </div>
</header>
<!-- header end -->
<!-- slide-banner -->
<div class="slide-banner" id="slide-banner">
    <div class="bd">
        <ul class="banner">
            {% for p in packages %}
                <li>
                    <a href="/package?id={{ p.productid }}">
                        <img src="{{ p.bannerimg }}"/>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="hd">
        <ul></ul>
    </div>
</div>
<!-- slide-banner end -->
<div class="world">
    <ul>
        {% for p in packages %}
            <li>
                <a href="package?id={{ p.productid }}">
                    <img src="{{ p.img }}" alt="" class="pictures"/>
                    <div>
                        <span>{{ p.productname }}</span>
                        <p>￥{{ p.price }}/月</p>
                        <span><img src="../static/img/subscribe.png" alt=""/>2020人</span>
                        <span>查看详情</span>
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>
    <div class="clear"></div>
</div>
<div class="defeat">
    <a href="/comic/200103380"><img src="../static/img/sywz.jpg" alt="" class="photos"/></a>
    <div class="thumb"><span>1569</span><img src="../static/img/starts.png" alt="" /></div>
    <div class="update">
        <span>神印王座</span>
        <span>更新至7话</span>
        <span><img src="../static/img/play.png" alt=""/>43万</span>
    </div>
</div>
</body>
</html>
<script src="../static/libs/jquery-3.1.0.js"></script>
<script src="../static/js/font.js"></script>
<script src="../static/js/TouchSlide.1.1.js"></script>
<script>
    TouchSlide({
        slideCell: "#slide-banner",
        titCell: ".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
        mainCell: ".bd ul",
        effect: "leftLoop",
        autoPlay: true,//自动播放
        autoPage: true //自动分页
    });
</script>