<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="index,follow">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,shrink-to-fit=no,minimal-ui">
    <meta name="format-detection" content="telephone=no,email=no,address=no,date=no">
    <meta name="msapplication-tap-highlight" content="no">
    <title>动漫详情</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="../static/css/style.css"/>
    <link rel="stylesheet" href="../static/css/main.css"/>
    <script src="../static/libs/jquery-3.1.0.js"></script>
</head>
<body id="read" style="padding-bottom: 2.56rem;">
<div class="bar_top cartoon_m" style="">
    <a href="javascript:history.go(-1)"><img src="../static/img/back.png" alt=""/></a>
    <div class="title">
        <p class="title_m">《{{ comic.comicname }}》</p>
        <p class="writer">作者：{{ comic.author }}</p>
    </div>
    {% if favor %}
        <div class="favorite" style="color:#F0645E;border:1px solid #fff;background: #fff;padding: 0 0.4rem">
            <span>已收藏</span>
        </div>
    {% else %}
        <div class="favorite">
            <img src="../static/img/star.png" alt="收藏"/>
            <span>收藏</span>
        </div>
    {% endif %}
</div>
</div>

<div class="summary">
    <p>内容概括：</p>
    <dd id="intro_short">
        <p class="fly">&#x3000{{ comic.brief }}</p>
        <a href="javascript:void(0)" onclick="$('#intro_short').hide();$('#intro_long').show();return false;"
           class="data_more">详细</a>
    </dd>
    <dd id="intro_long" style="display:none">
        <p class="fly">&#x3000{{ comic.brief }}<a href="javascript:void(0)"
                                                  onclick="$('#intro_short').show();$('#intro_long').hide();return false;">收起</a>
        </p>
    </dd>
</div>
<div class="directory">
    <ul>
        <li>目录</li>
        <li class="ascend"><img src="../static/img/s.png" alt=""/>升序</li>
        <li class="descend"><img src="../static/img/j.png" alt=""/>降序</li>
    </ul>
    <div class="clear"></div>

</div>
<div class="chapter">
    <ul class="session">
    </ul>
</div>
<!--订购弹出框开始-->
<div id="main">
    <div class="order">
        <div class="order_top">提 示</div>
        <div class="order_bottom">
            <p>需要订购“{{ package.productname }}”({{ package.price }}元/月)方可阅读,是否立即订购？</p>
            <button class="cancel">取消</button>
            <button class="confirm">确认</button>
        </div>
    </div>
</div>
<div id="mains">
    <div class="order">
        <img src="../static/img/gou.png" alt=""/>
        <p></p>
    </div>
</div>
<!--订购弹出框结束-->
<!--继续观看弹出框开始-->
<div id="main_m">
    <div class="order">
        <div class="order_bottom">
            <p> 您上次阅读到第{{ recentchapter }}话，是否继续观看？</p>
            <button class="cancel">取消</button>
            <button class="confirm">确认</button>
        </div>
    </div>
</div>
<div id="mains_m">
    <div class="order">
        <img src="../static/img/gou.png" alt=""/>
        <p></p>
    </div>
</div>
<!--继续观看弹出框结束-->
<!--签到积分弹框-->
<div id="sign_m">
    <div class="sign_n">
        <img src="../static/img/sign_m.png" alt="积分"/>
        <p>积分+20</p>
    </div>
</div>
<!--签到积分弹框end-->
</body>
</html>
<script src="../static/js/cartoon_description.js"></script>
<script src="../static/js/font.js"></script>
<script>
    function GetQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r != null)
            return unescape(r[2]);
        return null;
    }
    $(document).ready(function () {
        $('.cancel:first').click(function () {
            $('#main').hide()
        });
        $('.confirm:first').click(function () {
            $('#main').hide();
            var url = window.location.href;
            {% if not session.phonenum %}
                window.location.href = '/auth/login?next=' + url;
            {% else %}
                var id = url.substr(url.lastIndexOf('/') + 1);
                console.log(id);
                $.ajax({
                    type: "post",
                    url: "/subscribe",
                    data: {
                        'phonenum': '{{ session.phonenum }}',
                        'productid': '{{ package.productid }}'
                    },
                    dataType: 'json',
                    success: function (data) {
                        console.log(data);
                        $('#mains p').text(data.message);
                        $('#mains').show();
                        setTimeout(function () {
                            $('#mains').hide();
                        }, 1000);

                    }
                });
            {% endif %}

        });

        {% for i in range(comic.curchapter) %}
            var liNode = document.createElement('li');
            var aNode = document.createElement('a');
            var textNode = document.createTextNode('第{{ i+1 }}话');
            aNode.appendChild(textNode);
            aNode.href = '#';
            aNode.onclick = function () {
                $.ajax({
                    type: "get",
                    url: "/comic/{{ comic.id }}",
                    contentType: "application/json",
                    data: {chapter: {{ i+1 }}, type: 'json'},
                    success: function (data, status) {
                        if (data.code == '0') {
                            window.location.href = '/comic/{{ comic.id }}?chapter={{ i+1 }}'
                        }
                        else {
                            $('#main').show();
                        }
                    }
                });
            };
            liNode.appendChild(aNode);
            {% if i < comic.freechapter %}
                var imgNode = document.createElement('img');
                imgNode.setAttribute('src', "../static/img/free.png");
                liNode.appendChild(imgNode);
            {% endif %}
            document.getElementsByClassName('session')[0].appendChild(liNode);
        {% endfor %}


        var flag = 0;//升序
        //var lilist = $('.chapter ul li');
        var parent = $('.chapter ul li').parent();
        $('.descend').click(function () {
            if (!flag) {
                lilist = $('.chapter ul li').remove();
                console.log(lilist);
                for (var i = 0; i < lilist.length; i++) {
                    parent.append(lilist[lilist.length - 1 - i]);
                }
                flag = 1;
                $('.ascend').css('color', "#fff");
                $('.descend').css('color', '#F7D631');
            }
        });
        $('.ascend').click(function () {
            if (flag) {
                lilist = $('.chapter ul li').remove();
                console.log(lilist);
                for (var i = 0; i < lilist.length; i++) {
                    parent.append(lilist[lilist.length - 1 - i]);
                }
                flag = 0;
                $('.ascend').css('color', "#F7D631");
                $('.descend').css('color', '#fff');
            }
        });

        $('.cancel:last').click(function () {
            $('.super li:last a').attr('href', "/comic/{{ comic.id }}?chapter=1");
            $('#main_m').hide()
        });
        $('.confirm:last').click(function () {
            $('#main_m').hide();
        });
        $('.super li:last a').click(function () {
            var href = $(this).attr('href');
            var chapter = href.substr(href.lastIndexOf('=') + 1);
            if (chapter > 1) {

                $('#main_m').show();
            }
        })
    });
    <!--加入收藏-->
    $('.favorite').click(function () {

        text = $('.favorite span').text();
        if (text == '收藏') {
            $.ajax({
                type: "get",
                url: "/api/v1.0/favors/favor",
                contentType: "application/json",
                data: {
                    'uid':{{ current_user.id if not current_user.is_anonymous else 0}},
                    'cid':{{ comic.id }},
                    'type': '1'
                },
                success: function (data, status) {
                    if (data.code == '0') {
                        console.log(data);
                        if (data['data']['integral'] > 0) {
                            $('#sign_m p').text('积分+' + data['data']['integral']);
                            $('#sign_m').show();
                            setTimeout(function () {
                                $('#sign_m').hide();
                            }, 2000);
                        }
                        $('.favorite span').text('已收藏');
                        $('.favorite').css('color', '#F0645E');
                        $('.favorite').css('border', '1px solid #fff');
                        $('.favorite').css('background-color', '#fff');
                        $('.favorite').css('padding', '0 0.4rem');
                        $('.favorite img').hide()
                    }
                }
            });
        }
        else {
            $.ajax({
                type: "get",
                url: "/api/v1.0/favors/unfavor",
                contentType: "application/json",
                data: {
                    'uid':{{ current_user.id if not current_user.is_anonymous else 0}},
                    'cid':{{ comic.id }},
                    'type': '1'
                },
                success: function (data, status) {
                    if (data.code == '0') {
                        console.log(data);
                        $('.favorite span').text('收藏');
                        $('.favorite').css('background-color', '#f0645e');
                        $('.favorite').css('color', '#fff');
                        $('.favorite').css('border', '1px solid #f0645e');
                        $('.favorite').css('padding', '0 4px');
                        $('.favorite img').show()

                    }
                }
            });
        }
    })
</script>
