<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="index,follow">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,shrink-to-fit=no,minimal-ui">
    <meta name="format-detection" content="telephone=no,email=no,address=no,date=no">
    <meta name="msapplication-tap-highlight" content="no">
    <title>动漫详情</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="../static/css/style.css"/>
    <link rel="stylesheet" href="../static/css/main.css"/>
    <script src="../static/libs/jquery-3.1.0.js"></script>
</head>
<body id="read" style="padding-bottom: 2.56rem;">
<div class="bar_top">
    <a id="back" href="/package?id={{ package.productid }}"><img src="../static/img/back.png" alt=""/></a>
</div>
<div class="super">
    <div class="super_left books_left">
        <img src="{{ comic.cover }}" alt=""/>
    </div>
    <div class="super_right books tides">
        <ul>
            <li>《{{ comic.comicname }}》</li>
            <li>作者：<span>{{ comic.author }}</span></li>
            <li>状态：<span>更新至{{ comic.curchapter }}话</span></li>
            <li>题材：<span>{{ comic.category }}</span></li>
            <li>人气： <span>{{ comic.hits }}</span></li>
            <li><a class="button" id="start" href="/comic/{{ comic.id }}?chapter=1">开始阅读</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<div class="summary">
    <p>内容概括：</p>
    <dd id="intro_short">
        <p class="fly">&#x3000{{ comic.brief }}</p>
        <a href="javascript:void(0)" onclick="$('#intro_short').hide();$('#intro_long').show();return false;"
           class="data_more">详细</a>
    </dd>
    <dd id="intro_long" style="display:none">
        <p class="fly">&#x3000{{ comic.brief }}<a href="javascript:void(0)"
                                                  onclick="$('#intro_short').show();$('#intro_long').hide();return false;">收起</a>
        </p>
    </dd>
</div>
<div class="directory">
    <ul>
        <li>目录</li>
        <li class="ascend"><img src="../static/img/s.png" alt=""/>升序</li>
        <li class="descend"><img src="../static/img/j.png" alt=""/>降序</li>
    </ul>
    <div class="clear"></div>

</div>
<div class="chapter">
    <ul class="session">
    </ul>
</div>
<!--弹出框-->
<div id="main">
    <div class="order">
        <div class="order_top">提 示</div>
        <div class="order_bottom">
            <p>是否订购“{{ package.productname }}“,全站畅读</p>
            <button class="cancel">取消</button>
            <button class="confirm">确认</button>
        </div>
    </div>
</div>
<div id="mains">
    <div class="order">
        <img src="../static/img/gou.png" alt=""/>
        <p></p>
    </div>
</div>
</body>
</html>
<script src="../static/js/cartoon_description.js"></script>
<script src="../static/js/font.js"></script>
<script>
    function GetQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r != null)
            return unescape(r[2]);
        return null;
    }
    $(document).ready(function () {
        $('.order_bottom .cancel').click(function () {
            $('#main').hide()
        });
        $('.order_bottom .confirm').click(function () {
            $('#main').hide();
            var url = window.location.href;
            {% if not session.phonenum %}
                window.location.href = '/auth/login?next=' + url;
            {% else %}
                var id = url.substr(url.lastIndexOf('/') + 1);
                console.log(id);
                $.ajax({
                    type: "post",
                    url: "/api/v1.0/orders?action=subscribe",
                    data: {
                        'spid': '{{ package.spid }}',
                        'chargeid': '{{ package.chargeid }}',
                        'secret': '{{ package.secret }}',
                        'phonenum': '{{ session.phonenum }}',
                        'productid': '{{ package.productid }}'
                    },
                    dataType: 'json',
                    success: function (data) {
                        $('#mains p').text(data.message);
                        $('#mains').show();
                        setTimeout(function () {
                            $('#mains').hide();
                        }, 1000);
                    }
                });
            {% endif %}

        });

        {% for i in range(comic.curchapter) %}
            var liNode = document.createElement('li');
            var aNode = document.createElement('a');
            var textNode = document.createTextNode('第{{ i+1 }}话');
            aNode.appendChild(textNode);
            aNode.href = '#';
            aNode.onclick = function () {
                $.ajax({
                    type: "get",
                    url: "/comic/{{ comic.id }}",
                    contentType: "application/json",
                    data: {chapter: {{ i+1 }}, type: 'json'},
                    success: function (data, status) {
                        if (data.code == '0') {
                            window.location.href = '/comic/{{ comic.id }}?chapter={{ i+1 }}'
                        }
                        else {
                            {% if not session.phonenum %}
                                var url = window.location.href;
                                window.location.href = '/auth/login?next=' + url;
                            {% else %}
                                $('#main').show();
                            {% endif %}
                        }
                    }
                });
            };
            liNode.appendChild(aNode);
            {% if i < comic.freechapter %}
                var imgNode = document.createElement('img');
                imgNode.setAttribute('src', "../static/img/free.png");
                liNode.appendChild(imgNode);
            {% endif %}
            document.getElementsByClassName('session')[0].appendChild(liNode);
        {% endfor %}

        var a = $('.chapter ul  li')[0].innerHTML;
        var arr = $('.chapter ul  li');
        temp = [];
        //降序
        $('.descend').click(function () {
            var b = $('.chapter ul  li')[0].innerHTML;
            if (b == a) {
                show();
                var temp2 = temp.reverse();
                for (var j = 0; j < arr.length; j++) {
                    arr[j].innerHTML = temp2[j];
                }
            }
            $('.ascend').css('color', "#fff");
            $('.descend').css('color', '#F7D631');
        });
        //升序
        $('.ascend').click(function () {
            var c = $('.chapter ul  li')[0].innerHTML;
            if (c == a) {
                show();
                for (var k = 0; k < arr.length; k++) {
                    arr[k].innerHTML = temp[k];
                }

            } else {
                show();
                var temp3 = temp.reverse();
                for (var k = 0; k < arr.length; k++) {
                    arr[k].innerHTML = temp3[k];
                }
            }
            $('.ascend').css('color', "#F7D631");
            $('.descend').css('color', '#fff');
        })
        function show() {
            for (var i = 0; i < arr.length; i++) {
                temp.push(arr[i].innerHTML);
            }
        }
    });

</script>
