<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>漫漫世界精品包</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<body id="cartoon">
		  <div class="bar_top">
			<a href="cartoon.html"><img src="img/back.png" alt="" /></a>
		  </div>
		  <div class="detail">
				<div class="detail_page">
					<div class="detail_left">
						<img src="img/page.png" alt="漫漫世界精品包" />
					</div>
					<div class="detail_right">
						<h3>漫漫世界精品包</h3>
						<p>&#x3000;订购即可获得当月推出的12款精品动漫，使用过程中无任何形式的信息费用。10元/月,次月自动续订。</p>
					    <a href="">点击订购</a>
					</div>
				</div>
				<div class="list">
					<ul>
						<li><a href="cartoon_description.html"><img src="img/summer.png" alt="" class="big" /><div><img src="img/player.png" alt="" />1.2万<p>更新至115集</p></div><p class="summer">灼灼琉璃夏</p></a></li>
						<li><a href=""><img src="img/summer.png" alt="" class="big" /><div><img src="img/player.png" alt="" />1.2万<p>更新至115集</p></div><p class="summer">灼灼琉璃夏</p></a></li>
						<li><a href=""><img src="img/summer.png" alt="" class="big" /><div><img src="img/player.png" alt="" />1.2万<p>更新至115集</p></div><p class="summer">灼灼琉璃夏</p></a></li>
						<li><a href=""><img src="img/summer.png" alt="" class="big" /><div><img src="img/player.png" alt="" />1.2万<p>更新至115集</p></div><p class="summer">灼灼琉璃夏</p></a></li>
						<li><a href=""><img src="img/summer.png" alt="" class="big" /><div><img src="img/player.png" alt="" />1.2万<p>更新至115集</p></div><p class="summer">灼灼琉璃夏</p></a></li>
						<li><a href=""><img src="img/summer.png" alt="" class="big" /><div><img src="img/player.png" alt="" />1.2万<p>更新至115集</p></div><p class="summer">灼灼琉璃夏</p></a></li>
					</ul>
				</div>
		  </div>
	</body>
</html>
