<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="index,follow">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,shrink-to-fit=no,minimal-ui">
    <meta name="format-detection" content="telephone=no,email=no,address=no,date=no">
    <meta name="msapplication-tap-highlight" content="no">
    <title>动漫</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="../static/css/style.css"/>
    <link rel="stylesheet" href="../static/css/main.css"/>
    <script src="../static/libs/jquery-3.1.0.js"></script>

</head>
<body style="padding-bottom: 2.56rem;">
<div class="bar_top cartoon_detail">
    <a id="back" href="#"><img src="../static/img/right.png" alt=""/></a>
    <span>第{{ cur }}话</span>
</div>
<div class="comic">
    {% for u in imglist %}
        <img src="http://221.228.17.87/res{{ u }}" alt=""/>
    {% endfor %}
</div>

<div class="foot">
    <ul id="chapters">
        <li class="say" onclick="ss()"><a href="#">第{{ cur }}话<img src="../static/img/arrows.png" class="photo" alt=""/></a>
        </li>
        <li><a href="#">下一话</a></li>
    </ul>
    <ul id="chapter">
    </ul>
</div>
</body>
</html>
<script src="../static/js/cartoon_details.js"></script>
<script src="../static/js/font.js"></script>
<script>
    var cur = {{ cur }};
    var sum = {{ len }};
    var ulNode = document.getElementById('chapter');

    var url = window.location.href;
    var bookid = url.substring(url.lastIndexOf('/') + 1, url.lastIndexOf('?'));
    console.log(bookid);

    {% for i in range(sum) %}
        var liNode = document.createElement('li');
        var aNode = document.createElement('a');
        var textNode = document.createTextNode('第' + (i + 1).toString() + '话');
        if (i == cur - 1) {
            liNode.style.color = '#a29e86';
        }
        aNode.appendChild(textNode);
        aNode.href = '#';
        aNode.onclick = function () {
            $.ajax({
                type: "get",
                async: false,
                url: "/comic/" + bookid,
                contentType: "application/json",
                data: {chapter: (i + 1).toString(), type: 'json'},
                dataType:'json',
                success: function (data, status) {
                    console.log(data);
                    if (data.code == '0') {
                        window.location.href = '/comic/' + bookid + '?chapter=' + data.msg;
                    }
                    else {
                        alert('请先订购');
                    }
                }
            });
        };

        liNode.appendChild(aNode);
        ulNode.appendChild(liNode);
    {% endfor %}
    if (cur < sum) {
        var nexta = $('.foot a').eq(1);
        nexta.attr('href', '/comic/' + bookid + '?chapter=' + (cur + 1).toString());
    }

    $('#back').attr('href', '/comic/' + bookid);
</script>