<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="google" value="notranslate">
    <meta name="robots" content="index,follow">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,shrink-to-fit=no,minimal-ui">
    <meta name="format-detection" content="telephone=no,email=no,address=no,date=no">
    <meta name="msapplication-tap-highlight" content="no">
    <title>玩乐派-动漫</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="../static/css/style.css"/>
    <link rel="stylesheet" href="../static/css/main.css"/>
    <link rel="stylesheet" href="../static/css/index.css"/>
    <link rel="stylesheet" href="../static/css/common.css"/>
</head>
<body style="padding-bottom: 2.56rem;">
<!-- header -->
<header id="header" class="">
    <div class="header-logo-container">
        <img src="../static/img/logo.png" alt="" class="logo">
        <a href="/my"><img src="../static/img/head.png" alt=""/></a>
    </div>
    <div class="header-menu-container">
        <a href="/game">游戏</a>
        <a href="javascript:;" class="current">动漫</a>
        <a href="/video">视频</a>
        <a href="/music">音乐</a>
    </div>
</header>
<!-- header end -->
<!-- slide-banner -->
<div class="slide-banner" id="slide-banner">
    <div class="bd">
        <ul class="banner">
            {% for p in packages %}
                <li>
                    <a href="/package?id={{ p.productid }}">
                        <img src="{{ p.bannerimg }}"/>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="hd">
        <ul></ul>
    </div>
</div>
<!-- slide-banner end -->
<div class="world">
    <ul>
        {% for p in packages %}
            <li>
                <a href="package?id={{ p.productid }}">
                    <img src="{{ p.img }}" alt="" class="pictures"/>
                    <div>
                        <span>{{ p.productname }}</span>
                        <span><img src="../static/img/subscribe.png" alt=""/>2020人</span>
                        <span>查看详情</span>
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>
    <div class="clear"></div>
</div>
{% for r in recommends %}
    <div class="defeat" id="{{ r.id }}">
        <a href="/comic/{{ r.id }}"><img src="../static/img/sywz.jpg" alt="" class="photos"/></a>
        <div class="thumb"><span>1569</span><img src="../static/img/start_a.png" alt=""/></div>
        <div class="update">
            <span>{{ r.name }}</span>
            <span>更新至{{ r.curchapter }}话</span>
        </div>
    </div>
{% endfor %}
<!--签到积分弹框-->
<div id="sign_m">
    <div class="sign_n">
        <img src="../static/img/sign_m.png" alt="积分"/>
        <p>积分+20</p>
    </div>
</div>
<!--签到积分弹框end-->
</body>
</html>
<script src="../static/libs/jquery-3.1.0.js"></script>
<script src="../static/js/font.js"></script>
<script src="../static/js/TouchSlide.1.1.js"></script>
<script>
    TouchSlide({
        slideCell: "#slide-banner",
        titCell: ".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
        mainCell: ".bd ul",
        effect: "leftLoop",
        autoPlay: true,//自动播放
        autoPage: true //自动分页
    });
    $(document).ready(function () {
        {% if not current_user.is_anonymous %}
            {% for rec in recommends %}
                var cid = {{ rec.id }};
                $.ajax({
                    type: 'get',
                    url: '/api/v1.0/favors',
                    data: {
                        uid:{{ current_user.id }},
                        cid: cid,
                        type: '1'
                    },
                    dataType: 'json',
                    success: function (res) {
                        console.log(res['data']);
                        var count = res['data']['favor_count'];
                        $('#{{ rec.id }} span:first').text(count);
                        if (res['data']['favored'] == true) {
                            $('#{{ rec.id }} img:eq(1)').attr('src', "../static/img/starts.png");
                        }
                    },
                    error: function (e) {
                        console.log(e)
                    }
                });

                $('#{{ rec.id }} .thumb').click(function () {
                    if ($('#{{ rec.id }} img:eq(1)').attr('src') == "../static/img/start_a.png") {
                        $.ajax({
                            type: "get",
                            url: "/api/v1.0/favors/favor",
                            dataType: 'json',
                            data: {
                                'uid':{{ current_user.id if not current_user.is_anonymous else 0}},
                                'cid':{{ rec.id }},
                                'type': '1'
                            },
                            success: function (data, status) {
                                if (data.code == '0') {
                                    console.log(data);
                                    if (data['data']['integral'] > 0) {
                                        $('#sign_m p').text('积分+' + data['data']['integral']);
                                        $('#sign_m').show();
                                        setTimeout(function () {
                                            $('#sign_m').hide();
                                        }, 2000);
                                    }
                                    $('#{{ rec.id }} img:eq(1)').attr('src', '../static/img/starts.png');
                                    var count = $('#{{ rec.id }} span:first').text();
                                    console.log('count:'+count);
                                    count = parseInt(count) + 1;
                                    $('#{{ rec.id }} span:first').text(count);
                                }
                            }
                        });

                    }
                    else {
                        $.ajax({
                            type: "get",
                            url: "/api/v1.0/favors/unfavor",
                            dataType: 'json',
                            data: {
                                'uid':{{ current_user.id if not current_user.is_anonymous else 0}},
                                'cid':{{ rec.id }},
                                'type': '1'
                            },
                            success: function (data, status) {
                                if (data.code == '0') {
                                    console.log(data);
                                    $('#{{ rec.id }} img:eq(1)').attr('src', '../static/img/start_a.png');
                                    var count = $('#{{ rec.id }} span:first').text();
                                    console.log('count:'+count);
                                    count = parseInt(count) - 1;
                                    $('#{{ rec.id }} span:first').text(count);
                                }
                            }
                        });
                    }
                });
            {% endfor %}
        {% endif %}
    });


</script>