<!DOCTYPE html>
<html lang="zh-cmn-Hans">
	<head>
		<meta charset="UTF-8">
		<meta name="google" value="notranslate">
	    <meta name="robots" content="index,follow">
	    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,shrink-to-fit=no,minimal-ui">
	    <meta name="format-detection" content="telephone=no,email=no,address=no,date=no">
	    <meta name="msapplication-tap-highlight" content="no">
		<title>发现</title>
		<meta name="keywords" content="">
        <meta name="description" content="">
        <link rel="stylesheet" href="../static/css/style.css" />
		<link rel="stylesheet" href="../static/css/main.css" />
	</head>
	<body style="background: #F4F4F4;text-align: center;">
		<div class="forward">
			 <img src="../static/img/forward.png" alt="" style="margin-top: 11rem;width: 3.816425rem;height: 5.31401rem;" />
		</div>
    </body>
</html>
<script src="../static/js/font.js"></script>