<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="index,follow">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,shrink-to-fit=no,minimal-ui">
    <meta name="format-detection" content="telephone=no,email=no,address=no,date=no">
    <meta name="msapplication-tap-highlight" content="no">
    <title>超凡游戏包</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="../static/css/style.css"/>
    <link rel="stylesheet" href="../static/css/main.css"/>
    <link rel="stylesheet" href="../static/libs/swiper-3.4.1.min.css">
    <script src="../static/libs/jquery-3.1.0.js"></script>
</head>
<body class="package" style="padding-bottom: 2.56rem;">
<div class="bar_top">
    <a href="javascript:history.go(-1)"><img src="../static/img/back.png" alt=""/></a>
</div>
<div class="super supers">
    <div class="super_left game">
        <img src="../static/img/super.png" alt="超凡游戏包"/>
    </div>
    <div class="super_right snows">
        <ul>
            <li>{{ game.name }}</li>
            <li>推荐指数
                <img src="../static/img/ysolid.png" alt=""/>
                <img src="../static/img/ysolid.png" alt=""/>
                <img src="../static/img/ysolid.png" alt=""/>
                <img src="../static/img/yempty.png" alt=""/>
                <img src="../static/img/yempty.png" alt=""/>
            </li>
            <li>大小：{{ game.size }}M</li>
            <li>类型：{{ game.category }}</li>
            <div class="clear"></div>
        </ul>
    </div>
    <a href="{{ game.url }}" class="button">下载</a>
    <div class="clear"></div>
</div>
<div class="summary" id="game_package">
    <p>游戏概括：</p>
    <dd id="intro_short">
        <p>{{ game.brief }}</p>
        <a href="javascript:void(0)" onclick="$('#intro_short').hide();$('#intro_long').show();return false;"
           class="data_more">详细</a>

    </dd>
    <dd id="intro_long" style="display:none">
        <p>{{ game.brief }}<a href="javascript:void(0)"
                              onclick="$('#intro_short').show();$('#intro_long').hide();return false;">收起</a></p>

    </dd>
</div>
<div class="style picture snow">
    <p>游戏截图：</p>
    <div class="screenshots swiper-container">
        <div class="swiper-wrapper">
            {% if game.img_screenshot_1 %}
                <div class="swiper-slide"><img class="photoss" src="{{ game.img_screenshot_1 }}" alt=""/></div>
            {% endif %}
            {% if game.img_screenshot_2 %}
                <div class="swiper-slide"><img src="{{ game.img_screenshot_2 }}" alt=""/></div>
            {% endif %}
            {% if game.img_screenshot_3 %}
                <div class="swiper-slide"><img src="{{ game.img_screenshot_3 }}" alt=""/></div>
            {% endif %}
            {% if game.img_screenshot_4 %}
                <div class="swiper-slide"><img src="{{ game.img_screenshot_4 }}" alt=""/></div>
            {% endif %}
            {% if game.img_screenshot_5 %}
                <div class="swiper-slide"><img src="{{ game.img_screenshot_5 }}" alt=""/></div>
            {% endif %}
            {% if game.img_screenshot_6 %}
                <div class="swiper-slide"><img src="{{ game.img_screenshot_6 }}" alt=""/></div>
            {% endif %}
        </div>
    </div>
    <script src="../static/libs/swiper-3.4.0.min.js"></script>
    <script>
        var w = $('.swiper-slide .photoss').width();
        var h = $('.swiper-slide .photoss').height();

        if (w > h) {
            var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            slidesPerView: 1.2,
            paginationClickable: true,
            spaceBetween: 12
        });
        }
        else {
            var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            slidesPerView: 1.8,
            paginationClickable: true,
            spaceBetween: 12
        });
        }
    </script>
</div>
</body>
</html>
<script src="../static/js/font.js"></script>