<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="google" value="notranslate">
    <meta name="robots" content="index,follow">
    <meta id="viewport" name="viewport" content="width=580,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no,email=no,address=no,date=no">
    <meta name="msapplication-tap-highlight" content="no">
    <title>玩乐派-h5小游戏</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="../static/css/style.css"/>
    <link rel="stylesheet" href="../static/css/main.css"/>
    <link rel="stylesheet" href="../static/css/index.css"/>
    <link rel="stylesheet" href="../static/css/common.css"/>
    <style type="text/css">
        html {
            height: 100%;
        }

        body {
            height: 100%;
        }
    </style>
</head>
<body>
<!--签到积分弹框-->
<div id="sign_m">
    <div class="sign_n">
        <img src="../static/img/sign_m.png" alt="积分"/>
        <p>积分+20</p>
    </div>
</div>
<!--签到积分弹框end-->

<Iframe src="{{ url }}" width="100%" height="100%" frameborder="0"></iframe>
</body>

</html>
<script src="../static/libs/jquery-3.1.0.js"></script>
<script src="../static/js/font.js"></script>
<script>
    {% if integral > 0 %}
        $(document).ready(function () {
            $('#sign_m p').text('积分+' + '{{ integral }}');
            $('#sign_m').show();
            setTimeout(function () {
                $('#sign_m').hide();
            }, 2000);
        });
    {% endif %}
</script>