<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="index,follow">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,shrink-to-fit=no,minimal-ui">
    <meta name="format-detection" content="telephone=no,email=no,address=no,date=no">
    <meta name="msapplication-tap-highlight" content="no">
    <title>{{ package.productname }}</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="../static/css/style.css"/>
    <link rel="stylesheet" href="../static/css/main.css"/>
    <link rel="stylesheet" href="../static/css/bootstrap.css"/>
    <link rel="stylesheet" href="../static/libs/swiper-3.4.1.min.css">
    <script src="../static/libs/jquery-3.1.0.js"></script>
</head>
<body style="padding-bottom: 2.56rem;">
<div class="bar_top game_m">
    <a href="/"><img src="../static/img/back.png" alt=""/></a>
    <div class="title">
        <p class="title_m" style="color: #fff;margin-left: 0.2rem;">{{ game.name }}</p>
    </div>
</div>
<div class="super supers">
    <div class="super_left game">
        <img src="{{ game.img_icon }}" alt="{{ package.productname }}"/>
    </div>
    <div class="super_right snows" style="right: 17%;color: #9d9d9d;font-size: 0.5333rem;">
        <ul>
            <li style="color: #000;">{{ game.name }}</li>
            <li style="margin-top: 0;">
                {% for i in range(game.star) %}
                    <img src="../static/img/ysolid.png" alt=""/>
                {% endfor %}
                {% for i in range(5-game.star) %}
                    <img src="../static/img/yempty.png" alt=""/>
                {% endfor %}
            <li style="margin-top: 0.483rem;">更新日期<span>{{ game.updatetime[:4]+'-'+ game.updatetime[4:6] +'-' + game.updatetime[6:8]}}</span></li>
            <li>类&#x3000;&#x3000;型<span>{{ game.category }}</span></li>
            <li>大&#x3000;&#x3000;小<span>{{ game.size }}MB</span></li>
            <div class="clear"></div>
        </ul>
    </div>
    <button class="button buttons">下载</button>
    <div class="clear"></div>
</div>
<div class="summary" id="game_package">
    <p style="color: #000;">游戏概括：</p>
    <dd id="intro_short">
        <p>&#x3000{{ game.brief }}</p>
        <a href="javascript:void(0)" onclick="$('#intro_short').hide();$('#intro_long').show();return false;"
           class="data_more">详细</a>

    </dd>
    <dd id="intro_long" style="display:none">
        <p>
            &#x3000{{ game.brief }}<a
                href="javascript:void(0)"
                onclick="$('#intro_short').show();$('#intro_long').hide();return false;">收起</a></p>
    </dd>
</div>
<div class="style picture snow">
    <!--<p>游戏截图：</p>-->
    <div class="screenshots swiper-container">
        <div class="swiper-wrapper">
            {% if game.img_screenshot_1 %}
                <div class="swiper-slide"><img class="photoss" src="{{ game.img_screenshot_1 }}" alt=""/></div>
            {% endif %}
            {% if game.img_screenshot_2 %}
                <div class="swiper-slide"><img src="{{ game.img_screenshot_2 }}" alt=""/></div>
            {% endif %}
            {% if game.img_screenshot_3 %}
                <div class="swiper-slide"><img src="{{ game.img_screenshot_3 }}" alt=""/></div>
            {% endif %}
            {% if game.img_screenshot_4 %}
                <div class="swiper-slide"><img src="{{ game.img_screenshot_4 }}" alt=""/></div>
            {% endif %}
            {% if game.img_screenshot_5 %}
                <div class="swiper-slide"><img src="{{ game.img_screenshot_5 }}" alt=""/></div>
            {% endif %}
            {% if game.img_screenshot_6 %}
                <div class="swiper-slide"><img src="{{ game.img_screenshot_6 }}" alt=""/></div>
            {% endif %}
        </div>
    </div>
    <script src="../static/libs/swiper-3.4.0.min.js"></script>
    <script>
        var w = $('.swiper-slide .photoss').width();
        var h = $('.swiper-slide .photoss').height();

        if (w > h) {
            var swiper = new Swiper('.swiper-container', {
                pagination: '.swiper-pagination',
                slidesPerView: 1.2,
                paginationClickable: true,
                spaceBetween: 12
            });
        }
        else {
            var swiper = new Swiper('.swiper-container', {
                pagination: '.swiper-pagination',
                slidesPerView: 1.8,
                paginationClickable: true,
                spaceBetween: 12
            });
        }
    </script>
</div>
<!--弹出框-->
<div id="main">
    <div class="order">
        <div class="order_bottom">
            <p>您需要订购“{{ package.productname }}”({{ package.price }}元/月)方可下载,是否立即订购？</p>
            <button class="cancel">取消</button>
            <button class="confirm">确认</button>
        </div>
    </div>
</div>
<div id="mains">
    <div class="order">
        <img src="../static/img/gou.png" alt=""/>
        <p></p>
    </div>
</div>
<!--签到积分弹框-->
<div id="sign_m">
    <div class="sign_n" style="top: 30%">
        <img src="../static/img/sign_m.png" alt="积分"/>
        <p>积分+20</p>
    </div>
</div>
<!--签到积分弹框end-->
</body>
</html>
<script src="../static/js/font.js"></script>
<script src="../static/js/cartoon_description.js"></script>
<script>
    $('.order_bottom .cancel').click(function () {
        $('#main').hide()
    });
    $('.order_bottom .confirm').click(function () {
        $('#main').hide();
        var url = window.location.href;
        {% if not session.phonenum %}
            window.location.href = '/auth/login?next=' + url;
        {% else %}
            $.ajax({
                type: "post",
                url: "/api/v1.0/subscribe",
                data: {
                    'phonenum': '{{ session.phonenum }}',
                    'productid': '{{ package.productid }}'
                },
                dataType: 'json',
                success: function (data) {
                    if (data.code == '0')
                        $('#mains p').text('订购成功');
                    else $('#mains p').text(data.message);
                    $('#mains').show();
                    setTimeout(function () {
                        $('#mains').hide();
                    }, 2000);
                    if (data['data']['integral'] > 0) {
                        $('#sign_m p').text('积分+' + data['data']['integral']);
                        $('#sign_m').show();
                        setTimeout(function () {
                            $('#sign_m').hide();
                        }, 2000);
                    }
                    //增加页面刷新
                    window.location.reload();
                    $('.button').click(function () {
                        $.ajax({
                            type: "get",
                            url: "/game/download",
                            data: {
                                'id': '{{ game.id }}'
                            },
                            dataType: 'json',
                            success: function (data) {
                                if (data.code == '0') {
                                    setTimeout(function () {
                                        window.location.href = data['next']
                                    }, 1000);
                                    if (data['integral'] > 0) {
                                        $('#sign_m p').text('积分+' + data['integral']);
                                        $('#sign_m').show();
                                        setTimeout(function () {
                                            $('#sign_m').hide();
                                        }, 1000);
                                    }
                                }
                            }
                        });
                    });
                }
            });
        {% endif %}
    });

    {% if flag %}
        $('.button').click(function () {
            $.ajax({
                type: "get",
                url: "/game/download",
                data: {
                    'id': '{{ game.id }}'
                },
                dataType: 'json',
                success: function (data) {
                    if (data.code == '0') {
                        setTimeout(function () {
                            window.location.href = data['next']
                        }, 1000);
                        if (data['integral'] > 0) {
                            $('#sign_m p').text('积分+' + data['integral']);
                            $('#sign_m').show();
                            setTimeout(function () {
                                $('#sign_m').hide();
                            }, 1000);
                        }
                    }
                }
            });
        });
    {% else %}
        $('.button').click(function () {
            $('#main').show();
        });
    {% endif %}
</script>