<!DOCTYPE html>
<html lang="zh-cmn-Hans">
	<head>
		<meta charset="UTF-8">
		<meta name="robots" content="index,follow">
	    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,shrink-to-fit=no,minimal-ui">
	    <meta name="format-detection" content="telephone=no,email=no,address=no,date=no">
	    <meta name="msapplication-tap-highlight" content="no">
		<title>玩乐派-最近观看</title>
		<meta name="keywords" content="">
        <meta name="description" content="">
		<link rel="stylesheet" href="../static/css/style.css" />
		<link rel="stylesheet" href="../static/css/main.css" />
		<script src="../static/libs/jquery-3.1.0.js"></script>
	</head>
	<body>
		<div id="login">
		    <a href="javascript:history.go(-1)"><img src="../static/img/rights.png" alt="叉号" style="width: 0.4831rem;height: 0.82126rem;"/></a>
		    <span>最近观看</span>
		</div>
		<div class="content">
			<h3 style="margin: 0.8rem 0 0.5rem 0;">今天</h3>
            {% for r in today %}
                <dl>
				<a href="/comic/{{ r.id }}?chapter={{ r.chapter }}">
					<dt>
						<img src="{{ r.banner }}" alt="" />
						<p>{{ r.createtime }}</p>
					</dt>
				</a>
				<dd>
					<a href="/comic/{{ r.id }}?chapter={{ r.chapter }}">
						<h3>{{ r.name }}</h3>
						<span>动漫</span>
                        <div class="clear"></div>
						<p>观看至{{ r.chapter }}集</p>
					</a>
				</dd>
			</dl>
            {% endfor %}
			<h3 style="margin: 0.57971rem 0 0.5rem 0;">更早</h3>
            {% for r in earlier %}
               <dl>
				<a href="/comic/{{ r.id }}?chapter={{ r.chapter }}">
					<dt>
						<img src="{{ r.banner }}" alt="" />
						<p>{{ r.createtime }}</p>
					</dt>
				</a>
				<dd>
					<a href="/comic/{{ r.id }}?chapter={{ r.chapter }}">
						<h3>{{ r.name }}</h3>
						<span>动漫</span>
						<p>观看至{{ r.chapter }}集</p>
					</a>
				</dd>
			</dl>
            {% endfor %}
		</div>
	</body>
</html>
<script src="../static/js/font.js"></script>
