<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../static/css/style.css"/>
    <link rel="stylesheet" href="../static/css/main.css"/>
    <script src="../static/libs/jquery-3.1.0.js"></script>
    <script src="../static/js/login.js"></script>
    <script src="../static/js/vue.min.js"></script>
    <style>
        .show em {
        }

    </style>
</head>

<body class="logins">
<div id="login">
    <a href="javascript:history.go(-1)"><img src="../static/img/cha.png" alt="叉号"/></a>
    <span>登录</span>
</div>
<div class="show">
    {% with messages = get_flashed_messages(category_filter=["login"]) %}
        {% if messages %}
            {% for message in messages %}
                <div class="message"><img src="../static/img/warn.png"> {{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form class="show_top" method="post">
        {{ form.hidden_tag() }}
        <div class="user">
            <label for="phonenum"><img src="../static/img/person.png"
                                       alt=""/></label>{{ form.phonenum(placeholder="请输入手机号码") }}
        </div>
        <div class="password codes">
            <label for="password"><img src="../static/img/password.png"
                                       alt=""/></label>{{ form.password(placeholder="请输入密码",class="tel") }}
            <input class="showsss forget" type="button" value="忘记密码？">

        </div>
        {{ form.submit(value="登   录",style="padding:0;") }}
        <a href="/auth/register" class="unregistered">未注册过？</a>
    </form>
    <!--忘记密码弹框开始-->
    <div id="main">
        <div class="order" style="border: none;width: 66.2%;">
            <div class="order_bottom order_b">
                <a href="/auth/reset">重置密码</a>
                <span>取消</span>
            </div>
        </div>
    </div>

    <!--忘记密码弹框结束-->
</div>
</body>
<script>
    var demo = new Vue({
        el: '.show',
        data: {
            username: '',
            password: '',
            showFlag: ''
        }
    });
</script>
</html>
<script src="../static/js/font.js"></script>
<script>
	$('.forget').click(function () {
                $('#main').show();
        });
        $('.order_b span').click(function () {
            $('#main').hide()
        });
</script>