<!DOCTYPE html>
<html lang="zh-cmn-Hans">
	<head>
		<meta charset="UTF-8">
	    <meta name="google" value="notranslate">
	    <meta name="robots" content="index,follow">
	    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,shrink-to-fit=no,minimal-ui">
	    <meta name="format-detection" content="telephone=no,email=no,address=no,date=no">
	    <meta name="msapplication-tap-highlight" content="no">
		<title>玩乐派-视频</title>
		<meta name="keywords" content="">
        <meta name="description" content="">
		<link rel="stylesheet" href="../static/css/style.css" />
		<link rel="stylesheet" href="../static/css/main.css" />
		<link rel="stylesheet" href="../static/css/index.css" />
		<style type="text/css">
			html{height: 100%;}
			body{height: 100%;}
		</style>
	</head>
	<body style="padding-bottom: 2.56rem;">
		<!-- header -->
	    <header id="header" class="">
	        <div class="header-logo-container">
	            <img src="../static/img/logo.png" alt="">
	        </div>
	        <div class="header-menu-container">
	            <a href="/comic">动漫</a>
	            <a href="/video" >视频</a>
	            <a href="/game">游戏</a>
	            <a href="/reading">阅读</a>
	            <a href="javascript:;" style="color: #7ec51f;font-size: 1rem;font-weight: 800;">音乐</a>
	        </div>
	    </header>
       <!-- header end -->
		<Iframe src="http://js.118100.cn/act20170323.do" width="100%" height="100%" frameborder="0"></iframe>
	    <!-- footer-nav -->
        <nav class="footer-nav">
            <ul>
                <li><a href="/index" class="homepage">首页</a></li>
                <li><a href="###" class="find">发现</a></li>
                <li><a href="###" class="follow">关注</a></li>
                <li><a href="/my" class="mine">我的</a></li>
            </ul>
        </nav>
    <!-- footer-nav end -->
	</body>
</html>
<script src="../static/js/font.js"></script>
