<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="index,follow">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,shrink-to-fit=no,minimal-ui">
    <meta name="format-detection" content="telephone=no,email=no,address=no,date=no">
    <meta name="msapplication-tap-highlight" content="no">
    <title>我的</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="../static/css/style.css"/>
    <link rel="stylesheet" href="../static/css/main.css"/>
    <link rel="stylesheet" href="../static/css/index.css"/>
    <link rel="stylesheet" href="../static/css/common.css"/>
</head>
<body style="padding-bottom: 2.56rem;">
<div class="header">
    <div class="my_n">
        <a href="/"><img src="../static/img/rights.png" alt="叉号" style="width: 0.4831rem;height: 0.82126rem;"/></a>
    </div>

    <div class="news">
        <img src="../static/img/news.png" alt="消息"/>
    </div>
    <div class="head_logo">
        <img src="../static/img/dog_logo.png" alt="个人头像"/>
        <div class="login_m">
            <a href="/auth/login">点击登录</a><br/>
            <img src="../static/img/level.png" alt="等级"/>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
<div class="line" style="height: 0.4831rem;"></div>
<main>
    <div class="main">
        <a href="/mysign">
            <div></div>
            <span>签到</span>
            <section><span>已签到0天</span><img src="../static/img/right_arrow.png" alt="右箭头"/></section>
        </a>
        <a href="/mall">
            <div></div>
            <span>积分商城</span>
            <section><span>积分换好礼</span><img src="../static/img/right_arrow.png" alt="右箭头"/></section>
        </a>
        <a href="/collection">
            <div></div>
            <span>我的收藏</span>
            <section><img src="../static/img/right_arrow.png" alt=""/></section>
        </a>
        <a href="/myorder">
            <div></div>
            <span>订购</span>
            <section><img src="../static/img/right_arrow.png" alt=""/></section>
        </a>
        <a href="/flow">
            <div></div>
            <span>我的流量</span>
            <section><span>一键查询、办理流量套餐</span><img src="../static/img/right_arrow.png" alt=""/></section>
        </a>
        <a href="#">
            <div></div>
            <span>反馈</span>
            <section><img src="../static/img/right_arrow.png" alt=""/></section>
        </a>
        <a href="#">
            <div></div>
            <span>帮助</span>
            <section><img src="../static/img/right_arrow.png" alt=""/></section>
        </a>
    </div>
</main>
<div class="line"></div>
<div class="play" id="watch">
    <div class="play_top" id="play">
        <a href="/history">
            <img src="../static/img/watchs.png" alt="最近观看"/>
            <span id="recently">最近观看</span>
            <img src="../static/img/right_arrow.png" alt="" class="watch_m"/>
        </a>
    </div>
</div>
</body>
</html>
<script src="../static/libs/jquery-3.1.0.js"></script>
<script src="../static/js/font.js"></script>
