<!DOCTYPE html>
<html lang="zh-cmn-Hans">
	<head>
		<meta charset="UTF-8">
		<meta name="robots" content="index,follow">
	    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,shrink-to-fit=no,minimal-ui">
	    <meta name="format-detection" content="telephone=no,email=no,address=no,date=no">
	    <meta name="msapplication-tap-highlight" content="no">
		<title>我的</title>
		<meta name="keywords" content="">
        <meta name="description" content="">
		<link rel="stylesheet" href="../static/css/style.css" />
		<link rel="stylesheet" href="../static/css/main.css" />
		<link rel="stylesheet" href="../static/css/index.css" />
		<link rel="stylesheet" href="../static/css/common.css" />
	</head>
	<body style="padding-bottom: 2.56rem;">
		<div class="header">
			<div class="news">
				<img src="../static/img/消息.png" alt="消息" />
			</div>
			<section>
				<a href="/auth/register" class="register">注册</a>
				<a href="/auth/login" class="login">登录</a>
			</section>
		</div>
		<main>
			<div class="main">
                <a href="#"><div></div><span>积分商城</span><section><span>积分换好礼</span><img src="../static/img/right_arrow.png" alt="右箭头" /></section></a>
                <a href="#"><div></div><span>我的收藏</span><section><img src="../static/img/right_arrow.png" alt="" /></section></a>
                <a href="#"><div></div><span>订购</span><section><img src="../static/img/right_arrow.png" alt="" /></section></a>
                <a href="#"><div></div><span>我的流量</span><section><span>一键查询、办理流量套餐</span><img src="../static/img/right_arrow.png" alt="" /></section></a>
                <a href="#"><div></div><span>反馈</span><section><img src="../static/img/right_arrow.png" alt="" /></section></a>
                <a href="#"><div></div><span>帮助</span><section><img src="../static/img/right_arrow.png" alt="" /></section></a>
          </div>
		</main>
	    <div class="line"></div>
		<div class="play" id="watch">
	    	<div class="play_top">
	    		<img src="../static/img/watchs.png" alt="最近观看" />
	    		<span>最近观看</span>
	    	</div>
	    	<div class=" watchs">
	    		<ul>
	    			<li><a href=""><img src="../static/img/video.png" alt="" /><p><span>哑舍</span><span>71集</span></p><div><img src="../static/img/plays.png" alt="" /><p>22%</p></div></a></li>
	    			<li><a href=""><img src="../static/img/video.png" alt="" /><p><span>灼灼流</span><span>20集</span></p><div><img src="../static/img/plays.png" alt="" /><p>3%</p></div></a></li>
	    			<li><a href=""><img src="../static/img/video.png" alt="" /><p><span>砂与海之哈哈哈</span><span>47集</span></p><div><img src="../static/img/plays.png" alt="" /><p>已看完</p></div></a></li>
	    			<li><a href=""><img src="../static/img/girl.png" alt="" /><p><span>叫姐姐</span><span>55集<span></p><div><img src="../static/img/plays.png" alt="" /><p>89%</p></div></a></li>
	    		</ul>
	    		<div class="clear"></div>
	    	</div>
	    </div>
	   <!-- footer-nav -->
        <nav class="footer-nav">
            <ul>
                <li><a href="/index" class="sy">首页</a></li>
                <li><a href="###" class="find">发现</a></li>
                <li><a href="###" class="follow">关注</a></li>
                <li><a href="my" class="mine my">我的</a></li>
            </ul>
        </nav>
    <!-- footer-nav end -->
	</body>
</html>
<script src="../static/js/font.js"></script>
<script src="../static/js/TouchSlide.1.1.js"></script>
    <script>
        TouchSlide({
          slideCell:"#slide-banner",
          titCell:".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
          mainCell:".bd ul",
          effect:"leftLoop",
          autoPlay:true,//自动播放
          autoPage:true //自动分页
        });
    </script>