<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="index,follow">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,shrink-to-fit=no,minimal-ui">
    <meta name="format-detection" content="telephone=no,email=no,address=no,date=no">
    <meta name="msapplication-tap-highlight" content="no">
    <title>我的</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="../static/css/style.css"/>
    <link rel="stylesheet" href="../static/css/main.css"/>
    <link rel="stylesheet" href="../static/css/index.css"/>
    <link rel="stylesheet" href="../static/css/common.css"/>
</head>
<body style="padding-bottom: 2.56rem;background-color: #eee;">
<div class="header" id="portrait">
    <div class="news">
        <img src="../static/img/news.png" alt="消息"/>
        <div class="clear"></div>
    </div>
    <div class="head_logo">
        <img src="../static/img/dog_logo.png" alt="个人头像"/>
        <div class="login_m">
            <p id="tel">{{ session.phonenum }}</p>
            <img src="../static/img/level.png" alt="等级"/>
        </div>
        <div class="clear"></div>
    </div>
    {% if checkinstatus %}
        <div class="sign" style="color:#aeaeae;border:1px solid #aeaeae">
            <span>已签到</span>
        </div>
    {% else %}
        <div class="sign">
            <img src="../static/img/sign.png" alt=""/><span>签到</span>
        </div>
    {% endif %}
    <div class="clear"></div>
</div>
<div class="line" style="height: 0.4831rem;"></div>
<main>
    <div class="main success">
        <a href="/mysign">
            <div></div>
            <span>签到</span>
            <section><span>已连续签到{{ checkindays }}天</span><img src="../static/img/right_arrow.png" alt="右箭头"/></section>
        </a>
        <a href="/mall">
            <div></div>
            <span>积分商城</span>
            <section><span>积分换好礼</span><img src="../static/img/right_arrow.png" alt="右箭头"/></section>
        </a>
        <a href="#">
            <div></div>
            <span>我的收藏</span>
            <section><img src="../static/img/right_arrow.png" alt=""/></section>
        </a>
        <a href="/myorder">
            <div></div>
            <span>订购</span>
            <section><img src="../static/img/right_arrow.png" alt=""/></section>
        </a>
        <a href="http://flow.jsinfo.net">
            <div></div>
            <span>我的流量</span>
            <section><span>一键查询、办理流量套餐</span><img src="../static/img/right_arrow.png" alt=""/></section>
        </a>
        <a href="#">
            <div></div>
            <span>反馈</span>
            <section><img src="../static/img/right_arrow.png" alt=""/></section>
        </a>
        <a href="#">
            <div></div>
            <span>帮助</span>
            <section><img src="../static/img/right_arrow.png" alt=""/></section>
        </a>
    </div>
</main>
<div class="play" id="watch">
    <div class="play_top" id="play">
        <img src="../static/img/watchs.png" alt="最近观看"/>
        <span id="recently">最近观看</span>
    </div>
    <div class="watchs" id="watched">
        <ul>
            <li><a href=""><img src="../static/img/video.png" alt=""/>
                <p><span>哑舍</span><span>71集</span></p>
                <div><img src="../static/img/plays.png" alt=""/>
                    <p>22%</p></div>
            </a></li>
            <li><a href=""><img src="../static/img/video.png" alt=""/>
                <p><span>灼灼流</span><span>20集</span></p>
                <div><img src="../static/img/plays.png" alt=""/>
                    <p>3%</p></div>
            </a></li>
            <li><a href=""><img src="../static/img/video.png" alt=""/>
                <p><span>砂与海之哈哈哈</span><span>47集</span></p>
                <div><img src="../static/img/plays.png" alt=""/>
                    <p>已看完</p></div>
            </a></li>
            <li><a href=""><img src="../static/img/girl.png" alt=""/>
                <p><span>叫姐姐</span><span>55集</span></p>
                <div><img src="../static/img/plays.png" alt=""/>
                    <p>89%</p></div>
            </a></li>
        </ul>
        <div class="clear"></div>
    </div>
</div>
<div class="exit">退出登录</div>
<!--弹出框-->
<div id="main">
    <div class="order">
        <div class="order_top">提 示</div>
        <div class="order_bottom">
            <p>您将<i style="color: #f16664;font-style: normal;">退出登录</i>此账户</p>
            <button class="cancel">取消</button>
            <button class="confirm">确认</button>
        </div>
    </div>
</div>
<div id="mains">
    <div class="order">
        <img src="../static/img/gou.png" alt=""/>
        <p>订购成功</p>
    </div>
</div>
<!--签到积分弹框-->
<div id="sign_m">
    <div class="sign_n">
        <img src="../static/img/sign_m.png" alt="积分"/>
        <p>积分+20</p>
    </div>
</div>
<!--签到积分弹框end-->
</body>
</html>
<script src="../static/libs/jquery-3.1.0.js"></script>
<script src="../static/js/font.js"></script>
<script>
    $(function () {
        var tel = $('#tel').html();
        var mtel = tel.substr(0, 3) + '****' + tel.substr(7);
        $('#tel').text(mtel);
    });
    <!--签到-->
    $('.sign').click(function () {
        console.log($.trim($(this).text()));
        if ($.trim($(this).text()) == '签到') {
            $.ajax({
                type: "get",
                url: "/auth/checkin",
                contentType: "application/json",
                data: {'uid':{{current_user.id}}},
                success: function (data, status) {
                    console.log(data.code);
                    if (data.code == 0) {
                        $('#sign_m p').text('积分+' + data['data']['integral']);
                        $('#sign_m').show();
                        setTimeout(function () {
                            $('#sign_m').hide();
                        }, 2000);
                        $('.sign span').text('已签到');
                        $('.sign').css('color', '#aeaeae');
                        $('.sign').css('border', '1px solid #aeaeae');
                        $('.sign img').hide();
                        $('section:first').text('已连续签到' + data['data']['continus_checkin'] + '天')
                    }
                }
            });
        }
    });
    $(function () {
        var tel = $('#tel').html();
        var mtel = tel.substr(0, 3) + '****' + tel.substr(7);
        $('#tel').text(mtel);
    });
    $('.exit').click(function () {
        console.log(1);
        $('#main').show();
    });
    $('.order_bottom .cancel').click(function () {
        $('#main').hide()
    });
    $('.order_bottom .confirm').click(function () {
        $('#main').hide();
        $.ajax({
            type: "get",
            url: "/auth/logout",
            success: function (data, status) {
                if (data == 'logout success') {
                    window.location.href = '/my'
                }
                else {
                    alert('错误');
                }
            }
        });
    });
</script>