<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="index,follow">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,shrink-to-fit=no,minimal-ui">
    <meta name="format-detection" content="telephone=no,email=no,address=no,date=no">
    <meta name="msapplication-tap-highlight" content="no">
    <title>阅读详情</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="../static/css/style.css"/>
    <script src="../static/libs/jquery-3.1.0.js"></script>
</head>
<body id="books" style="padding-bottom: 2.56rem;">
<div class="bar_top">
    <a href="/reading"><img src="../static/img/back.png" alt=""/></a>
</div>
<div class="perfect">
    <p>{{ package.productname }}包月专区</p>
    <p>包月价格：{{ package.price }}元/月</p>
</div>
<div class="monthly"><a class="button" href="#">点击订购</a></div>
<!--弹出框-->
<div id="main">
    <div class="order">
        <div class="order_top">提 示</div>
        <div class="order_bottom">
            <p>您将订购“{{ package.productname }}”</p>
            <button class="cancel">取消</button>
            <button class="confirm">确认</button>
        </div>
    </div>
</div>
<div id="mains">
    <div class="order">
        <img src="../static/img/gou.png" alt=""/>
        <p></p>
    </div>
</div>
<div class="items">
    <ul>
        {% for b in books %}
            <li><a href="/reading/{{ b.bookid }}">{{ loop.index }}.&nbsp;{{ b.name }}</a></li>
        {% endfor %}
    </ul>
</div>

</body>
</html>
<script src="../static/js/font.js"></script>
<script src="../static/js/TouchSlide.1.1.js"></script>
<script>
    TouchSlide({
        slideCell: "#slide-banner",
        titCell: ".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
        mainCell: ".bd ul",
        effect: "leftLoop",
        autoPlay: true,//自动播放
        autoPage: true //自动分页
    });
    {% if flag %}
        $('.monthly .button').text('已订购');
        $('.monthly .button').css('background','#fff');
        $('.monthly .button').css('color','#626262');
    {% else %}
        $('.monthly .button').click(function () {
            {% if not session.phonenum %}
                var url = window.location.href;
                window.location.href = '/auth/login?next=' + url;
            {% else %}
                $('#main').show();
            {% endif %}

        });
        $('.order_bottom .cancel').click(function () {
            $('#main').hide()
        });
        $('.order_bottom .confirm').click(function () {
            $('#main').hide();
            $.ajax({
                type: "post",
                url: "/api/v1.0/orders?action=subscribe",
                data: {
                    'spid': '{{ package.spid }}',
                    'chargeid': '{{ package.chargeid }}',
                    'secret': '{{ package.secret }}',
                    'phonenum': '{{ session.phonenum }}',
                    'productid': '{{ package.productid }}'
                },
                dataType: 'json',
                success: function (data) {
                    $('#mains p').text(data.message);
                    $('#mains').show();
                    setTimeout(function() { $('#mains').hide(); }, 1000);
                    if (data.code == "0") {
                        //success
                                $('.monthly .button').text('已订购');
                                $('.monthly .button').css('background','#fff');
                                $('.monthly .button').css('color','#626262');
                    }
                }
            });
        });
    {% endif %}
</script>