<!DOCTYPE html>
<html lang="zh-cmn-Hans">
	<head>
		<meta charset="UTF-8">
		<meta name="robots" content="index,follow">
	    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,shrink-to-fit=no,minimal-ui">
	    <meta name="format-detection" content="telephone=no,email=no,address=no,date=no">
	    <meta name="msapplication-tap-highlight" content="no">
		<title>{{package.packagename}}</title>
		<meta name="keywords" content="">
        <meta name="description" content="">
		<link rel="stylesheet" href="../static/css/style.css" />
		<link rel="stylesheet" href="../static/css/main.css" />
		<link rel="stylesheet" href="../static/css/common.css" />
	</head>
	<body id="cartoon" style="padding-bottom: 2.56rem;">
		  <div class="bar_top">
			<a href="javascript:history.go(-1)"><img src="../static/img/back.png" alt="" /></a>
		  </div>
		  <div class="detail">
				<div class="detail_page">
					<div class="detail_left">
						<img src="../static/img/page.png" alt="{{ package.packagename }}" />
					</div>
					<div class="detail_right">
						<p>{{ package.productname }}</p>
						<p>&#x3000;{{ package.description }}</p>
					    <a href=""><img src="../static/img/buy.png" alt=""></a>
					</div>
				</div>
				<div class="list">
					<ul>
                        {% for c in comics %}
                            <li><a href="comicdescription?id={{ c.id }}"><img src="{{ c.cover }}" alt="" class="big" /><div><img src="../static/img/player.png" alt="" />{{ c.hits }}<p>更新至{{ c.curchapter }}集</p></div><p class="summer">{{ c.comicname }}</p></a></li>
                        {% endfor %}
					</ul>
				</div>
		  </div>
	</body>
</html>
<script src="../static/js/font.js"></script>
<script src="../static/libs/jquery-3.1.0.js"></script>