<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{ package.name }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" href="../static/css/style.css" />
	</head>
	<body id="cartoon">
		  <div class="bar_top">
			<a href="cartoon"><img src="../static/img/back.png" alt="" /></a>
		  </div>
		  <div class="detail">
				<div class="detail_page">
					<div class="detail_left">
						<img src="../static/img/page.png" alt="{{ package.name }}" />
					</div>
					<div class="detail_right">
						<h3>{{ package.name }}</h3>
						<p>&#x3000;{{ package.description }}</p>
					    <a href="">点击订购</a>
					</div>
				</div>
				<div class="list">
					<ul>
                        {% for c in comics %}
                            <li><a href="comicdetail?id={{ c.id }}"><img src="{{ c.cover }}" alt="" class="big" /><div><img src="../static/img/player.png" alt="" />{{ c.hits }}<p>更新至{{ c.curchapter }}集</p></div><p class="summer">{{ c.comicname }}</p></a></li>
                        {% endfor %}
					</ul>
				</div>
		  </div>
	</body>
</html>
