<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="index,follow">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,shrink-to-fit=no,minimal-ui">
    <meta name="format-detection" content="telephone=no,email=no,address=no,date=no">
    <meta name="msapplication-tap-highlight" content="no">
    <title>超凡游戏包</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="../static/css/style.css"/>
    <link rel="stylesheet" href="../static/css/main.css"/>
    <script src="../static/libs/jquery-3.1.0.js"></script>
    <script src="../static/libs/template.js"></script>
</head>
<body class="package" id="packages" style="padding-bottom: 2.56rem;">
<!--<script id="data" type="text/html">-->
<div class="bar_top">
    <a href=""><img src="../static/img/back.png" alt=""/></a>
</div>
<div class="super">
    <div class="super_left game">
        <img src="../static/img/super.png" alt="{{ package.productname }}"/>
    </div>
    <div class="super_right snows">

        <ul>
            <li>{{ package.productname }}</li>
            <li>推荐指数
                <img src="../static/img/ysolid.png" alt=""/>
                <img src="../static/img/ysolid.png" alt=""/>
                <img src="../static/img/ysolid.png" alt=""/>
                <img src="../static/img/ysolid.png" alt=""/>
                <img src="../static/img/yempty.png" alt=""/>
            </li>
            <li>资费：{{ package.price }}元/月</li>

        </ul>
    </div>
    <a href="#" class="button"><img src="../static/img/orders.png" alt=""/></a>
    <div class="clear"></div>
</div>
<!--弹出框-->
<div id="main">
    <div class="order">
        <div class="order_top">提 示</div>
        <div class="order_bottom">
            <p>您将订购“{{ package.productname }}”</p>
            <button class="cancel">取消</button>
            <button class="confirm">确认</button>
        </div>
    </div>
</div>
<div id="mains">
    <div class="order">
        <img src="../static/img/gou.png" alt=""/>
        <p></p>
    </div>
</div>
<div class="summary " id="game_package">
    <p>游戏包概括：</p>
    <dd id="intro_short">
        <p class="fly">{{ package.description }}</p>
        <a href="javascript:void(0)" onclick="$('#intro_short').hide();$('#intro_long').show();return false;"
           class="data_more">详细</a>
    </dd>
    <dd id="intro_long" style="display:none">
        <p class="fly">{{ package.description }}<a href="javascript:void(0)"
                                                   onclick="$('#intro_short').show();$('#intro_long').hide();return false;">收起</a>
        </p>
    </dd>
</div>

<div class="summary style">
    <p>游戏列表：</p>
    <ul>
        {% for g in games %}
            <li><a href="/game/{{ g.id }}"><img src="{{ g.img_icon }}" alt=""/>
                <p>{{ g.name }}</p></a></li>
        {% endfor %}
        <div class="clear"></div>
    </ul>
</div>

</body>
</html>
<script src="../static/js/font.js"></script>
<script>
    {% if flag %}
        //$('.super .button').text('已订购');
        $('.super .button img').attr('src', '../static/img/ordered.png');
    {% else %}
        $('.super .button').click(function () {
            {% if not session.phonenum %}
                var url = window.location.href;
                window.location.href = '/auth/login?backurl=' + url;
            {% else %}
                var phonenum = '{{ session.phonenum }}';
                $('#main').show();
            {% endif %}

        });
        $('.order_bottom .cancel').click(function () {
            $('#main').hide()
        });
        $('.order_bottom .confirm').click(function () {
            $('#main').hide();
            $.ajax({
                type: "post",
                url: "/api/v1.0/orders?action=subscribe",
                data: {
                    'spid': '{{ package.spid }}',
                    'chargeid': '{{ package.chargeid }}',
                    'secret': '{{ package.secret }}',
                    'phonenum': '{{ session.phonenum }}',
                    'productid': '{{ package.productid }}'
                },
                dataType: 'json',
                success: function (data) {
                    $('#mains p').text(data.message);
                    $('#mains').show();
                    if (data.code == "0") {
                        //success
                        $('.super .button img').attr('src', '../static/img/ordered.png');
                    }
                }
            });
        });
    {% endif %}
    $('body').on('touchstart', function () {
        setTimeout("$('#mains .order').hide()", 2000 );
    })
</script>
<script src="../static/js/cartoon_description.js"></script>