<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>阅读</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" href="css/style.css" />
		<script src="libs/jquery-3.1.0.js"></script>
		 <script src="../static/js/read.js"></script>
	</head>
	<body>
		<header>
			<img src="img/logo.png" alt="" />
		</header>
		<nav class="read">
			<ul>
				<li><a href="cartoon.html">动漫</a></li>
				<li><a href="#">视频</a></li>
				<li><a href="game.html">游戏</a></li>
				<li><a href="#">阅读</a></li>
				<li><a href="#">音乐</a></li>
				<li><a href="#"><img src="img/sing.png" alt="" /></a></li>
			</ul>
			<div class="clear"></div>
		</nav>
		<div class="banner slide">
	    	<ul>
			    <li><img src="img/cartoon.png" alt="" /></li>
			    <!--<li><img src="img/banner2.png" alt="" /></li>
			    <li><img src="img/banner3.png" alt="" /></li>-->
			</ul>
			<!--<section class="icon">
				<span class="circle"></span>
				<span></span>
				<span></span>
			</section>-->
	    </div>
	    <div class="classify">
	    	<div class="classify_left">
	    		<img src="img/classify.png" alt="" />分类
	    	</div>
	    	<div class="classify_right">
	    		<span>更新</span>
	    		<span>人气</span>
	    	</div>
	    	<div class="clear"></div>	
	    	<div class="classify_bottom">
	    		<ul class="lists">
	    			<li class="all ons"><span>全部</span></li>
	    			<li class="lis"><span>穿越</span></li>
	    			<li class="lis"><span>玄幻</span></li>
	    			<li class="lis"><span>耽美</span></li>
	    			<li class="lis"><span>都市</span></li>
	    			<li class="lis"><span>古代</span></li>
	    			<li class="lis"><span>科幻</span></li>
	    		</ul>
	    	</div>
	    	<div class="clear"></div>
		    <div id="book">
		    	<ul>
		    		<li><a href="read_description.html"><img src="img/reada.png" alt=""><p>《五月潮汐》</p></a></li>
		    		<li><a href=""><img src="img/readb.png" alt=""><p>《五月潮汐》</p></a></li>
		    		<li><a href=""><img src="img/readc.png" alt=""><p>《五月潮汐》</p></a></li>
		    		<li><a href=""><img src="img/readd.png" alt=""><p>《五月潮汐》</p></a></li>
		    		<li><a href=""><img src="img/reade.png" alt=""><p>《五月潮汐》</p></a></li>
		    		<li><a href=""><img src="img/readf.png" alt=""><p>《五月潮汐》</p></a></li>
		    	</ul>
		    </div>
	    </div>
	    <footer>
	    	<ul>
	    		<li><a href=""><div></div><p>首页</p></a></li>
	    		<li><a href=""><div></div><p>发现</p></a></li>
	    		<li><a href=""><div></div><p>关注</p></a></li>
	    		<li><a href="my.html"><div></div><p>我的</p></a></li>
	    	</ul>
	    	<div class="clear"></div>
	    </footer>
	</body>
</html>
