<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="index,follow">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,shrink-to-fit=no,minimal-ui">
    <meta name="format-detection" content="telephone=no,email=no,address=no,date=no">
    <meta name="msapplication-tap-highlight" content="no">
    <title>阅读</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="../static/css/style.css"/>
    <script src="../static/libs/jquery-3.1.0.js"></script>
</head>
<body style="padding-bottom:2.56rem;">
<div class="bar_top cartoon_detail">
    <a id="back" href="#"><img src="../static/img/right.png" alt=""/></a>
    <span>{{ name }}</span>
</div>
<div class="comic">
    {% for ptag in ptaglist %}
        <p style="text-align:left">{{ ptag }}</p>
    {% endfor %}
</div>

<div class="foot">
    <ul>
        <li><a href="#">上一章</a></li>
        <li><a href="#">下一章</a></li>
    </ul>
</div>
<!--弹出框-->
<div id="main">
    <div class="order">
        <div class="order_top">提 示</div>
        <div class="order_bottom">
            <p>需要订购“{{ package.productname }}“才能继续观看，立即订购？</p>
            <button class="cancel">取消</button>
            <button class="confirm">确认</button>
        </div>
    </div>
</div>
<div id="mains">
    <div class="order">
        <img src="../static/img/gou.png" alt=""/>
        <p></p>
    </div>
</div>
</body>
</html>
<script src="../static/js/cartoon_details.js"></script>
<script src="../static/js/font.js"></script>
<script>
    $(document).ready(function () {
        $('.order_bottom .cancel').click(function () {
            $('#main').hide()
        });
        $('.order_bottom .confirm').click(function () {
            $('#main').hide();
            var url = window.location.href;
            {% if not session.phonenum %}
                window.location.href = '/auth/login?next=' + url;
            {% else %}
                $.ajax({
                    type: "post",
                    url: "/subscribe",
                    data: {
                        'phonenum': '{{ session.phonenum }}',
                        'productid': '{{ package.productid }}'
                    },
                    dataType: 'json',
                    success: function (data) {
                        console.log(data);
                        $('#mains p').text(data.message);
                        $('#mains').show();
                        setTimeout(function () {
                            $('#mains').hide();
                        }, 1000);

                    }
                });
            {% endif %}

        });


        var cur = {{ cur.chapterid }};
        var sum = {{ len }};
        var ulNode = document.getElementById('chapter');
        var url = window.location.href;
        var bookid = url.substring(url.lastIndexOf('/') + 1, url.lastIndexOf('?'));
        if (cur < sum) {
            var nexta = $('.foot a').eq(1);
            nexta.click(function () {
                $.ajax({
                    type: "get",
                    url: "/reading/" + bookid,
                    contentType: "application/json",
                    data: {chapter: (cur + 1).toString(), type: 'json'},
                    success: function (data, status) {
                        if (data == 'success') {
                            window.location.href = '/reading/' + bookid + '?chapter=' + (cur + 1).toString();
                        }
                        else {
                            $('#main').show();
                        }
                    }
                });
            });
        }
        if (cur > 0) {
            var preva = $('.foot a').eq(0);
            preva.attr('href', '/reading/' + bookid + '?chapter=' + (cur - 1).toString());
        }
        $('#back').attr('href', '/reading/' + bookid);
    });

</script>