<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>阅读</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" href="css/style.css" />
		<script src="libs/jquery-3.1.0.js"></script>
	</head>
	<body>
		<div class="bar_top cartoon_detail">
			<a href="read_description.html"><img src="img/right.png" alt="" /></a>
			<span>第146章</span>
		</div>
		<div class="comic">
			<!--<img src="img/comic.jpg" alt="" />
			<img src="img/comic.jpg" alt="" />-->
		</div>
		
	    <div class="foot">
	    	<ul>
	    		<li class="say" onclick="ss()"><a href="#">第146章<img src="img/arrows.png" class="photo" alt="" /></a></li>
	    		<li><a href="#">下一页</a></li>
	    	</ul>
	    	<ul id="chapter">
	    		<li>第151章</li>
	    		<li>第150章</li>
	    		<li>第149章</li>
	    		<li>第148章</li>
	    		<li>第147章</li>
	    	</ul>
	    </div>
	</body>
</html>
<script src="js/cartoon_details.js"></script>
