<!doctype html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="index,follow">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,shrink-to-fit=no,minimal-ui">
    <meta name="format-detection" content="telephone=no,email=no,address=no,date=no">
    <meta name="msapplication-tap-highlight" content="no">
    <title>注册</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="../static/css/style.css"/>
    <link rel="stylesheet" href="../static/css/main.css"/>
</head>
<body class="logins" style="padding-bottom: 2.56rem;">
<div id="login">
    <a href="javascript:history.go(-1)"><img src="../static/img/cha.png" alt="叉号"/></a>
    <span class="account">注册账号</span>
</div>
<div class="show">
    {% with messages = get_flashed_messages(category_filter=["register"]) %}
        {% if messages %}
            {% for message in messages %}
                <div class="message"><img src="../static/img/warn.png"> {{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="message" style="display: none;"></div>
    <form class="show_top registers" method="post">
        {{ form.hidden_tag() }}
        <div class="user">
            <label for="username" class="country">中国</label>
        </div>
        <div class="codes">
            <label for="password" class="col">+86</label>{{ form.phonenum() }}<br>
        </div>
        <div class="code codes">
            <label for="password">验证码</label>{{ form.vercode(class='tel') }}<input class="showsss" type="button"
                                                                                   value="获取验证码"><br>
        </div>
        <div class="code codes">
            <label for="password"><img src="../static/img/password.png"
                                       alt=""/></label>{{ form.password(placeholder="密码设置") }}<br>
        </div>
        {{ form.submit(value="提   交",style="padding:0;") }}
    </form>


</div>
</body>
</html>
<script src="../static/js/font.js"></script>
<script src="../static/libs/jquery-3.1.0.js"></script>
<script>

    $('.showsss').click(function () {
        $.ajax({
            url: '/auth/register',
            type: 'GET',
            async: true,
            data: {
                action: 'getIdentifingCode',
                phonenum: $('#phonenum').val()
            },
            dataType: 'json',
            success: function (data) {
                console.log(data);
                show();
            },
            error: function (xhr, textStatus) {
                console.log('错误');
                console.log(xhr);
                console.log(textStatus);
            }
        })
    });
    // 短信验证码计时器
    var seconds = 60;
    var obj = $('.codes .showsss');
    function show() {
        run(seconds, obj);
    }
    //  当手机号为空
    var phone_type = 1;
    /* 1是成功发送 2是电话号码错误  */
    var re = new RegExp(/\D/g);
    var reg = /^1[3|4|5|8][0-9]\d{8}$/;
    function run(seconds, obj) {
        $('.message').css('display','none');
        var tel = $('#phonenum').val();
        if (tel == null || tel.length == 0) {
            phone_type = 2;
        } else if (!reg.test(tel)) {
            phone_type = 2;
        } else {
            phone_type = 1;
        }
        if (phone_type == 1) {
            obj.val("重新获取(" + seconds + "s)");
            obj.css('color', '#ccc');
            var setTime = setInterval(function () {
                if (seconds <= 0) {
                    clearInterval(setTime);
                    obj.val("重新获取");
                    obj.attr('disabled', false);
                    obj.css('color', '#007AFF');
                    return;
                } else {
                    seconds--;
                    obj.val("重新获取(" + seconds + "s)");
                    obj.attr('disabled', true);
                }
            }, 1000);
        }
        else {
            if ($('.message').length >　1) {
                $('.message:first').remove()
            }
            $('.message').css('display','block');
            $('.message').html('<img src="../static/img/warn.png">请输入正确的手机号码');
        }
    }
</script>