<!doctype html>
<html lang="zh-cmn-Hans">
	<head>
		<meta charset="UTF-8">
		<meta name="robots" content="index,follow">
	    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,shrink-to-fit=no,minimal-ui">
	    <meta name="format-detection" content="telephone=no,email=no,address=no,date=no">
	    <meta name="msapplication-tap-highlight" content="no">
		<title>注册</title>
		<meta name="keywords" content="">
        <meta name="description" content="">
		<link rel="stylesheet" href="../static/css/style.css" />
		<link rel="stylesheet" href="../static/css/main.css" />
	</head>
	<body class="logins" style="padding-bottom: 2.56rem;">
		<div id="login">
			<a href="my"><img src="../static/img/cha.png" alt="叉号" /></a>
			<span class="account">注册账号</span>
		</div>
		<div class="show">
			<form  class="show_top registers">
				<div class="user">
					<label for="username" class="country">中国</label>
				</div>
				<div class="code codes">
				    <label for="password">+86</label><input type="username" name="username" autocomplete="off" class="tel"><input type="text" id="codes" autocomplete="off"/><a href="#">获取验证码</a><br>
				</div>
				<div class="code">
				    <label for="password"><img src="../static/img/password.png" alt="" /></label><input type="password" name="password" autocomplete="off" placeholder="密码设置"><br>
			    </div>
			</form>
			<input type="submit" value="提&#X3000;交"></input>

		</div>
	</body>
</html>
<script src="../static/js/font.js"></script>