<!doctype html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="index,follow">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,shrink-to-fit=no,minimal-ui">
    <meta name="format-detection" content="telephone=no,email=no,address=no,date=no">
    <meta name="msapplication-tap-highlight" content="no">
    <title>注册</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="../static/css/style.css"/>
    <link rel="stylesheet" href="../static/css/main.css"/>
</head>
<body class="logins" style="padding-bottom: 2.56rem;">
<div id="login">
    <a href="javascript:history.go(-1)"><img src="../static/img/cha.png" alt="叉号"/></a>
    <span class="account">注册账号</span>
</div>
<div class="show">
    <form class="show_top registers" method="post">
        {{ form.hidden_tag() }}
        <div class="user">
            <label for="username" class="country">中国</label>
        </div>
        <div class="codes">
            <label for="password" class="col">+86</label>{{ form.phonenum(class='phonunum') }}<br>
        </div>
        <div class="code codes">
            <label for="password">验证码</label>{{ form.vercode(class='tel') }}<input class="showsss" type="button" value="获取验证码"><br>
        </div>
        <div class="code codes">
            <label for="password"><img src="../static/img/password.png"
                                       alt=""/></label>{{ form.password(placeholder="密码设置") }}<br>
        </div>
        {{ form.submit(value="提   交",style="padding:0;") }}
    </form>


</div>
</body>
</html>
<script src="../static/js/font.js"></script>
<script src="../static/libs/jquery-3.1.0.js"></script>
<script>

    $('.showsss').click(function () {
        $.ajax({
            url: '/auth/register',
            type: 'GET',
            async: true,
            data: {
                action: 'getIdentifingCode',
                phonenum: $('.phonunum').val()
            },
            dataType: 'json',
            success: function (data) {
                console.log(data);
                show();
                $('.codes a').css('color', '#eae9e9');
            },
            error: function (xhr, textStatus) {
                console.log('错误');
                console.log(xhr);
                console.log(textStatus);
            }
        })
    });
    // 短信验证码计时器
    var seconds = 120;
    var obj = $('.codes .showsss');
    function show() {
        run(seconds, obj);
    }
    function run(seconds, obj) {
        obj.val("重新获取(" + seconds + "s)");
        obj.css('color', '#eae9e9')
        var setTime = setInterval(function () {
            if (seconds <= 0) {
                clearInterval(setTime);
                obj.val("重新获取");
                obj.attr('disabled', false);
                obj.css('color', '#007AFF')
                return
            } else {
                seconds--;
                obj.val("重新获取(" + seconds + "s)");
                obj.attr('disabled', true);
            }

        }, 1000);
    }
</script>