<!DOCTYPE html>
<html lang="zh-cmn-Hans">
	<head>
		<meta charset="UTF-8">
		<meta name="robots" content="index,follow">
	    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,shrink-to-fit=no,minimal-ui">
	    <meta name="format-detection" content="telephone=no,email=no,address=no,date=no">
	    <meta name="msapplication-tap-highlight" content="no">
		<title>玩乐派-签到</title>
		<meta name="keywords" content="">
        <meta name="description" content="">
		<link rel="stylesheet" href="../static/css/style.css" />
		<link rel="stylesheet" href="../static/css/main.css" />
		<link rel="stylesheet" href="../static/css/iconfont/iconfont.css" />
		<link rel="stylesheet" href="../static/css/reset.css" />
		<script src="../static/libs/jquery-3.1.0.js"></script>
	</head>
	<body>
		<div id="login">
		    <a href="javascript:history.go(-1)"><img src="../static/img/rights.png" alt="叉号" style="width: 0.4831rem;height: 0.82126rem;"/></a>
		    <span>签到天数</span>
		</div>
		<div class="sign_d">
			<p>已连续签到</p>
			<div class="surePass" >
		        <div class="anyield" >
		            <p>已完成</p>
		        </div>
				<canvas class="circleRun" data-run="0" id="canvasThree" amout="1000" nowData="1000"></canvas>
		   </div>   
		</div>	
		<!--积分规则-->
		<div class="rule">
			<p>积分规则：</p>
			<div class="rule_m">
				<p>1、每天完成1次签到，即可随机相应积分，连续签到天数从1-7天，可得+5，+8，+10，+12，+15，+18，+20，第7天-第n天连续签到都是+20。</p>
                <p>2、连续签到天数，指的是用户产生连续签到行为的第1天到第n天。即，如果用户签到中间有间断，则积分奖励从第1天开始算起。</p>
                <p>3、如用户连续签到至第7天后，继续保持连续签到的行为，则从第8天起至用户坚持连续签到的第n天为止，每天签到行为都增加20积分。</p>
                <p>4、每个账号每天只可签到一次。10001查询流量充值记录和使用情况。</p>
			</div>
		</div>
		<!--获取积分-->
		<div class="rule rule_n">
			<p>如何获取积分？</p>
			<div class="rule_m">
				<p style="text-indent: 2em;">首次更换头像+20，首次修改昵称+20，玩H5游戏+20（每日封顶80），看书+20（每日封顶80），看动漫+20（每日封顶80），收藏游戏/阅读/动漫内容+20（每日封顶80），给游戏/阅读/动漫内容点赞+20（每日封顶80），首次订购付费包+400，订购付费包+200（每日封顶600），成功邀请好友注册玩乐派+100。</p>            
			</div>
		</div>
	</body>
</html>
<script src="../static/js/font.js"></script>
<script src="../static/js/zcircleMove.js"></script>
<script>
	$(function(){
		var findCanvas=$("#canvasThree");
		var percents=findCanvas.attr('nowData')/findCanvas.attr('amout');
		 percents=0.25;
		//percents 为百分比的值  范围 0- 1
		runCircle(
		   { 
			obj:'canvasThree', 
			percent:5/7,
			url:'img/focusa.png',   //小图地址
			imgWidth:30,
			imgHeight:30,
			circleBottomColor:"#f7d536",//圆环底色
			outerColorStart:'rgba(252,244,200,.9)',  //外部圆环 渐变色
			outerColorMid:'#fbf0ab',
			outerColorEnd:'#f7db46',
			innerColorStart:'#f7d536',  //内部圆环 渐变色
			innerColorEnd:'#ff9c39'
		   }
		);
		var count=0;
		$(".circleRun").each(function(){
			var obj=$(this)[0];
			var canvasW=parseInt($(this).parent().width())*0.76;
			obj.width = canvasW;
			obj.height = canvasW;
		})
	})
</script>
